/*
Theme Name: PenNews Child
Theme URI: http://pennews.pencidesign.com/
Author: PenciDesign
Author URI: http://pencidesign.com
Description: Pennews Child Theme
Template: pennews
Version: 1.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: pennews
Tags: two-columns, custom-menu, featured-images, post-formats, sticky-post, threaded-comments, translation-ready, editor-style

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

PenNews is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
.penci-archive .penci-archive__content .penci-cat-links a,
.single .penci_breadcrumbs + .penci-post-item .penci-entry-categories,
.page .penci_breadcrumbs + .penci-post-item .penci-entry-categories,
ul li:before {
	display: none;
}

.penci-archive__content .penci-entry-header {
	margin-bottom: 0;
}
body{
	background: #fff !important;
}
article h2 {
	font-family: 'Montserrat';
	font-size: 24px !important;
	font-style: normal;
	font-weight: 600 !important;
	line-height: 1 !important;
	text-transform: uppercase;
}
.wpb_text_column.wpb_content_element.how-sec--content ul li {
    list-style: none;
}
.penci-archive__content .penci_breadcrumbs + .penci-entry-header {
	display: none;
}

.penci-archive .penci-archive__content .entry-content:after {
	content: '...';
	display: inline-block;
}

.page.page-id-1219 .penci-content-post {
	padding: 20px;
	margin: 20px;
}

.blog-default .penci-archive__content .entry-media {
	margin-top: 25px;
}

.page-id-1219 {
	background: #fff;
}

.page-id-1219 p {
	font-size: 16px;
}

.row-faq-01 {
	padding: 50px 0 !important;
}

.row-faq-01 h2 {
	font-size: 30px;
	color: #fff;
	text-transform: none;
	font-weight: 500;
}
.single .penci-wide-content{
	max-width: 100% !important;
}
.penci-post-pagination{
	display: none !important;
}
.penci-wide-content.penci-content-novc.penci-sticky-content.penci-content-single-inner {
    margin-bottom: 0 !important;
}
.penci-single-s5-nofimg .penci-container__content{
	margin: 0 !important;
}
.entry-header.penci-entry-header {
    display: none;
}
.status-publish.format-standard {
    margin-bottom: 0;
}
.row-faq-01 h3 {
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
}
.vc_message_box p{
	font-size: 14px !important;
	line-height: 1.7 !important;
	font-weight: 400 !important;
}
.row-faq-01 p {
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	margin: 40px 450px 40px 0;
}

.row-faq-01 a {
	min-height: 100%;
	line-height: normal;
	padding: 15px 20px !important;
	margin-top: 30px;
	background: #ff8c59;
	border-radius: 50px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	display: inline-block;
}

.row-faq-01 a:hover {
	background: #ff8c59 !important;
	-webkit-box-shadow: 1px 1px 15px rgba(255, 143, 93, .6);
	box-shadow: 1px 1px 15px rgba(255, 143, 93, .6);
	color: #373339;
}

.row-faq-01 a:before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(//www.car-finance.ca/wp-content/themes/pennews-child/assets/css/../img/phone.png) center/contain;
	display: inline-block;
	background-repeat: no-repeat !important;
	margin-right: 10px;
	vertical-align: middle;
}

.row-faq-02 h3 {
	display: inline-block;
	font-size: 24px;
	color: #2a2a2a;
	margin: 30px 0 20px;
	padding-bottom: 10px;
	border-bottom: 4px dashed #ff8c59;
}

.row-faq-02 p:first-child {
	padding-left: 0px;
}

.row-faq-02 p {
	padding-left: 20px;
}

.row-faq-02 ul,
.row-faq-02 ol,
.row-faq-02 li {
	color: #373339;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.7;
}

.row-faq-02 ul li {
	list-style-type: disk !important;
}

.page-id-1470 {
	background: #fff;
}

#post-1470 > div > div.vc_row.wpb_row.vc_row_34350739.vc_row-fluid.penci-pb-row.cover.cover_mobile.contact-sec.vc_custom_1560515531738.vc_row-has-fill.vc_row-o-content-bottom.vc_row-flex.vc_custom_1560515531742.vc_custom_1560515531743 > div.wpb_column.vc_column_container.vc_col-sm-9.penci-col-9.vc_custom_1560514662873.vc_custom_1560514662891.vc_custom_1560514662908 {
	align-items: center !important;
}

#post-1470 > div > div.vc_row.wpb_row.vc_row_57857539.vc_row-fluid.penci-pb-row.cover.cover_mobile.contact-sec.vc_custom_1560515531738.vc_row-has-fill.vc_row-o-content-bottom.vc_row-flex.vc_custom_1560515531742.vc_custom_1560515531743 > div.wpb_column.vc_column_container.vc_col-sm-9.penci-col-9.vc_custom_1560514662873.vc_custom_1560514662891.vc_custom_1560514662908 > div > div > div > div > h2 {
	color: #fff !important;
}

#post-1470 > div > div.vc_row.wpb_row.vc_row_85538693.vc_row-fluid.penci-pb-row.vc_custom_1561659551805.vc_row-has-fill > div > div > div > div.wpb_text_column.wpb_content_element.custom-title > div {
	text-align: left !important;
}

.bar {
	fill: #5f89ad;
}

.axis {
	font-size: 13px;
}

.axis path,
.axis line {
	fill: none;
	display: none;
}



.penci-active-thumb {
	height: 450px;
}

.penci-entry-title {
	position: absolute;
	bottom: 50px;
	font-size: 48px;
	line-height: 41px;
	text-transform: uppercase;
	width: 50%;
}

.penci_breadcrumbs {
	position: absolute;
	top: 20px;
}

.penci_breadcrumbs a span {
	color: #FF8C59 !important;
	font-size: 14px;
	font-weight: 500;
}

.penci_breadcrumbs li:last-child span {
	color: #fff !important;
}

.entry-media__content {
	height: 100%;
}

.penci-page-style-5 .penci-active-thumb.penci-entry-media:after,
.penci-single-style-5 .penci-active-thumb.penci-entry-media:after {
	background: #000;
}

.fa-clock-o {
	display: none;
}

.entry-date {
	font-size: 16px;
	font-weight: 300;
	opacity: .6;
}

.penci-container {
	height: 100%;
}

.penci-entry-header {
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}

.penci_breadcrumbs .fa-angle-right:before {
	content: '/';
	color: #fff;
	font-size: 20px;
	position: relative;
	top: 3px;
	margin: 0 5px;
}

.single-post .site-main {
	background: #fff;
	padding-bottom: 100px;
}

.category-blog .site-main {
	padding-bottom: 40px;
}

.single-post .penci-entry-content p {
	font-size: 20px;
	font-family: 'Lato';
}

.single-post .penci-entry-content ul,
.single-post .penci-entry-content ol {
	border: 1px solid #FF8C59;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 40px;
	list-style: none;
}

.single-post .penci-entry-content ul ul,
.single-post .penci-entry-content ol ol {
	border: none;
	margin-bottom: 0;
}

.penci-entry-content ul strong,
.penci-entry-content ol strong {
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}

.single-post .penci-entry-content ul li,
.single-post .penci-entry-content ol li {
	font-size: 20px;
	font-weight: 500;
	text-transform: none;
	margin: 0;
	margin-left: 50px;
	font-family: 'Lato';
}

.single-post .penci-entry-content ul.ez-toc-list li {
	margin-top: 0px;
	margin-bottom: 0px;
}
.entry-header.penci-entry-header.penci-title- {
    display: none;
}
.penci-entry-content.entry-content {
    margin-top: 0;
}
.single-post .penci-entry-content ul li,
.single-post .penci-entry-content ol li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.single-post .penci-entry-content ul li:before,
.single-post .penci-entry-content ol li:before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FF8C59;
	display: inline-block;
	float: left;
	position: relative;
	margin-right: -10px;
	left: -22px;
	top: 12px;
}

.single .penci-content-post {
	padding: 0;
}

.penci-entry-content img {
	border-radius: 10px;
}

.penci-post-pagination {
	padding: 40px 0 25px;
	border: none;
}

.penci-post-pagination a {
	color: #FF8C59;
}

.penci-post-item p.h2 {
	font-family: 'Montserrat' !important;
	margin-top: 20px !important;
	font-size: 20px !important;
	line-height: 28px !important;
	font-weight: 600 !important;
	display: block;
	color: #e5e5e5;
	margin: 0 !important;
	text-transform: uppercase;
}

.penci-post-item p.h3 {
	font-family: 'Montserrat' !important;
	font-size: 18px !important;
	font-weight: 600 !important;
	color: #e5e5e5;
	text-transform: uppercase;
}

.ez-toc-list {

	list-style: none;
}

.ez-toc-lis li {
	font-family: 'Lato' !important;
	font-size: 18px !important;
	font-weight: 500 !important;
	text-transform: none !important;
	margin-bottom: 5px !important;
	margin-left: 50px !important;
}

.ez-toc-lis li:before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FF8C59;
	display: inline-block;
	float: left;
	left: -25px;
	top: 10px;
}

#ez-toc-container {
	margin: 20px 0 40px !important;
	padding: 15px 20px !important;
	border: 1px solid #ff8c59;
	border-radius: 10px;
}

div#ez-toc-container ul {
	border: none;
	margin-bottom: 0;
	padding-left: 0;
}

.ez-toc-title {
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: 0;
}

div#ez-toc-container ul li {
	font-size: 20px;
	font-family: 'Lato' !important;
}

div#ez-toc-container ul li a {
	color: #373339;
}

.single-post .site-content h2 {
	margin: 40px 0;
	text-align: center;
	color: #F36729;
	font-weight: 600;
	font-size: 20px;
}

.single-post .site-content h2:before,
.single-post .site-content h2:after {
	content: '';
	background-color: #FF8F5D;
	display: block;
	width: 75px;
	height: 4px;
	opacity: .6;
	margin: 30px auto;
}

.vc_custom_1550587884223 {
	margin: 50px auto;
}

.vc_custom_1550587884223:before {
	content: '';
	display: block;
	height: 200px;
	width: 50%;
	left: -50%;
	position: absolute;
	background: #312f46;
	margin-top: -30px;
}

.vc_custom_1550587884223:after {
	content: '';
	display: block;
	height: 200px;
	width: 50%;
	right: -50%;
	position: absolute;
	background: #312f46;
	margin-top: -30px;
}

.vc_custom_1550587884223 .penci-col-8 {
	z-index: 9;
}

.footer__bottom,
.footer__copyright_menu {
	display: none;
}

.site-footer {
	background: #373339;
	margin-top: -1px;
}

.site-footer p {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: right;
}

#menu-main-menu-1 {
	display: flex;
}

#menu-main-menu-1 > li.menu-item-11 > a {
	padding-top: 5px;
}

#menu-main-menu-1 li {
	margin: 0px 10px;
	width: auto;
}

body.category {
	background: #fff;
}

.title-head {
	text-align: center;
	background: #f3f3ff;
	margin: 0 0 40px;
}

.title-head h1 {
	color: #373339;
	font-size: 30px;
	text-transform: uppercase;
	padding: 30px;
	display: inline-block;
}

.title-head h1:before {
	content: '';
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	background: #FF8C59;
	border-radius: 50%;
	margin: 0 -15px 0 0;
}

.penci_breadcrumbs {
	display: none;
}

.archive .penci-wide-content {
	max-width: 100%;
}

.penci-archive__list_posts .penci-post-item {
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	border-radius: 15px;
	min-height: 270px;
}

.penci-archive__list_posts .penci-post-item .entry-date {
	font-size: 12px;
	color: #333 !important;
	font-weight: 400;
	font-family: Lato;
}

.blog-default .penci-archive__content .entry-media {
	margin-top: 0;
	height: 330px;
}

.penci-image-holder,
.penci-archive__content .penci-link-post:after {
	border-radius: 15px 0 0 15px;
}

.category-blog .penci-post-item h2 {
	margin-top: 20px !important;
}
.top-models p,
.history-block p{
	line-height: 1.7 !important;
}
/*
.penci-post-item h2 {
	font-size: 24px !important;
	font-weight: 600 !important;
	line-height: 28px !important;
	display: block;
}
*/

.penci-post-item h3 {
	font-size: 18px !important;
	position: relative;
	top: 7px;
}

.penci-archive .penci-archive__content .entry-content {
	font-size: 18px;
	color: #373339;
	padding-right: 40px;
	padding-bottom: 80px;
}

.penci-pmore-link {
	float: right;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.penci-pmore-link .more-link {
	background: none;
	color: #F36729;
	font-weight: bold;
	font-size: 16px !important;
	font-family: 'Montserrat';
	line-height: 25px;
	text-transform: uppercase;
	margin: 0 20px 0px 0;
	position: relative;
}

.penci-pmore-link .more-link:after {
	content: '';
	display: block;
	width: 13px;
	height: 10px;
	float: right;
	background: url(//www.car-finance.ca/wp-content/themes/pennews/images/arrow-right.png);
	position: relative;
	top: 7px;
	left: 7px;
}

#menu-main-menu .menu-item-1364,
#menu-main-menu .menu-item-1365 {
	display: none;
}

.page-id-1359 .site-content,
.page-id-3 .site-content {
	background: #fff;
	padding: 50px 0;
}

.page-id-1359 .penci-post-item h3,
.page-id-3 .penci-post-item h3 {
	display: inline-block;
	font-size: 24px !important;
	color: #2a2a2a;
	margin: 30px 0 20px;
	padding-bottom: 10px;
	border-bottom: 4px dashed #ff8c59;
}

.page-id-1359 p,
.page-id-3 p {
	font-size: 16px;
}

.page-id-1359 ul li,
.page-id-3 ul li {
	font-size: 16px;
}

.page-id-1359 .site-content ul li:before,
.page-id-3 .site-content ul li:before {
	content: '';
	width: 7px;
	height: 7px;
	display: block;
	border-radius: 50%;
	background: #ff8c59;
	margin-top: -3px;
}

.btn_learn_more_block .btn_learn_more {
	background: transparent !important;
	box-shadow: none;
	padding: 0;
	margin-top: 0;
	font-weight: 400;
	text-decoration: underline;
	transition: all 0.3s ease;
}
.btn_learn_more_block .btn_learn_more:hover{
	color: #ff8c59 !important; 
}
body:not(.home) .jwa_car_calc{
	max-width: 1140px;
	margin: 0 auto;
}
#reviews .recent-news{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 55px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color:#373339;
	display: table !important;
	margin: 0 auto 50px !important;
	position: relative;
	z-index: 1;
}
.recent-news:before{
	content: '';
	width: 50%;
	height: 1px;
	background:	transparent;
	border-bottom: 3px dashed #FF8C59;
	border-radius: 0px;
	display: block;
	position: absolute;
	z-index: -1;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -9px; 
}
.post-home-page .vc_grid-item-mini {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 330px;
}
.post-home-page .vc_gitem-animated-block > .vc_gitem-zone{
	background-size: cover !important;
	background-position: center !important; 
	height: 330px;
}
.post-home-page .vc_gitem-animated-block > .vc_gitem-zone:before{
	display: none;
}
.post-home-page .vc_gitem-animated-block  {
	width: 388px;
	height: 330px;
	position: relative;
}
.post-home-page .vc_gitem-animated-block  + .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col,
.post-home-page .vc_gitem-animated-block  + .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row,
.post-home-page .vc_gitem-animated-block  + .vc_gitem-zone .vc_gitem-zone-mini{
	height: 100%;
}
.post-home-page .vc_gitem-animated-block  + .vc_gitem-zone  {
	width: calc(100% - 388px);
	padding-left: 20px;
}
.post-home-page .vc_grid-item
{
	box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
	border-radius: 16px;
	overflow: hidden; 
}
.post-home-page .vc_grid-item h4{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
	margin-top: 20px;
}
.post-home-page .vc_grid-item .vc_gitem-zone{
	background-color: #fff !important;
}
.post-home-page .vc_grid-item p{
	font-size: 18px;
	color:#373339;
	padding-right: 40px;
	margin-top: 9px;
	line-height: 1.71;
}
.post-home-page .vc_btn3-container.vc_btn3-left {
	position: absolute;
	right: 40px;
	bottom: 30px;
	margin-bottom: 0;
}
.post-home-page .vc_btn3-container.vc_btn3-left a:after {
    content: '';
    display: block;
    width: 13px;
    height: 10px;
    float: right;
    background: url(//www.car-finance.ca/wp-content/themes/pennews/images/arrow-right.png);
    position: relative;
    top: 7px;
    left: 7px;
}
.post-home-page .vc_btn3-container.vc_btn3-left a{
	color:#F36729 !important;
	font-weight: bold;
	font-size: 16px !important;
	font-family: 'Montserrat';
	line-height: 25px;
	text-transform: uppercase;
	position: relative;
	background-color: transparent !important;
	padding: 0 20px 0 0 !important;
}
.post-home-page .vc_btn3-container.vc_btn3-left a:hover{
	opacity: 0.6;
}
.tes-content .quote:before{
	content: '“';
}
.tes-content .quote:before,
.tes-content .quote:after{
	position: absolute;
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	color: #FF8C59;
	display: block !important;
	font-family: Lato;
}
.tes-content .quote:after{
	content: '„';
}
.top-models p{
	font-size: 18px !important;
	color: #373339 !important;
}
.top-models .wpb_single_image .vc_figure{
	width: 100%; 
}
.top-models .wpb_single_image .vc_single_image-wrapper img{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 50%;
}
.top-models .wpb_single_image .vc_single_image-wrapper{
	position: relative;
	width: 100%;
}
.top-models .wpb_single_image .vc_single_image-wrapper:before{
	content: '';
	position: relative;
	background: #FF8C59;
	width: 312px !important;
	height: 312px !important;
	border-radius: 50%;
	display: block;
}
.top-models .wpb_single_image.vc_align_left .vc_single_image-wrapper:before{
	margin: 0 0 0 auto;
}
.banner-branded h1{
	color: #fff !important;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
	font-size: 60px !important;
	line-height: 1.2;
	margin-bottom: 0 !important;
}
.banner-branded .vc_single_image-wrapper,
.banner-branded .wpb_text_column > .wpb_wrapper{
	justify-content: center;
	margin-bottom: 0 !important;
	height: 400px; 
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	flex-direction: column;
}
.tel-block.cta-2 h6{
    font-size: 34px !important;
	color: #fff;
	line-height: 1.13;
}
.tel-block.cta-2 h5{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	font-weight: 600 !important;
	font-size: 40px !important;
	line-height: 1.1 !important; 
	color: #fff;
}
.vc_message_box{
	position: relative;
}
.about .hero_info i.entypo-icon-check {
    top: 21px;
	width: 26px;
	height: 26px;
}
.history p {
	font-size: 18px !important;
}
.penci-post-item .calc-link-block h2{
	font-weight: 600 !important;
	font-size: 36px !important;
	color: #E5E5E5 !important;
	text-transform: uppercase; 
	margin-top: 5px;
}
.banner-branded h3{
	color: #fff;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
	font-size: 40px !important;
}
.banner-branded h3 + p{
	margin-top: 30px;
}
.tel-block.cta-2 h6 br{
	display: none;
}
.cta-2.tel-block,
.calc-link-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.cta-2.tel-block .penci-col-3{ 
	padding-top: 0 !important;
}
.cta-2.tel-block .penci-col-9,
.calc-link-block .penci-col-9{
	margin-right: 20px;
}
.cta-2.tel-block .penci-col-9,
.cta-2.tel-block .penci-col-3,
.calc-link-block .penci-col-9,
.calc-link-block .penci-col-3{
	width: auto;
}
.tel-block.cta-2 h5,
.tel-block.cta-2 h6{
	text-align: center;
}
.vc_message_box h3 span{
	font-size: 14px !important;
	line-height: 1.7 !important;
}
.wpb_wrapper .why-sec-each .right,
#content p{
	font-size: 18px;
	line-height: 1.7;
}
.top-models h3 {
    font-size: 24px !important;
}
.category-blog .penci-post-item h2{
	padding-right: 40px;
}

.single-post  .penci-entry-title{
	position: static;
	width: 85%;
}
.single-post .penci_breadcrumbs{
	display: block;
}
.single-post .entry-header.penci-entry-header.penci-title- {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
}
.single .penci-entry-media img.jarallax-img{
	position: static !important;
}
.home .vc_message_box>p:last-child{
	font-weight: 700 !important;
}
.home .vc_message_box-icon > *{
	position: static;
	transform: none;
	width: 25px;
	height: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
.single-post .penci-post-item h3{
	font-size: 22px !important;
	font-weight: 700 !important;
}
.single-post .penci-post-item h4{
	font-size: 18px !important;
}
.home .vc_message_box-icon i:before{
	width: auto;
}
.home .vc_message_box{
	padding: 1em 1em 1em 2.2em;
}
.cta-center .wpb_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.cta-center .wpb_wrapper h3{
	top: 0;
}
.cta-center .wpb_wrapper h2{
	margin-top: 0;
	margin-right: 10px;
}
.cta-center .vc_col-sm-8,
.cta-center .vc_col-sm-4 {
	width: auto;
	padding-top: 0 !important;
}
.cta-center .wpb_content_element{
	margin-bottom: 0 !important;
}
.cta-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 1280px) {
	.single .penci-active-thumb {
		height: 31vw;
	}
	.single .penci-entry-media img.jarallax-img{
		margin-top: -50px !important
	}
}
@media screen and (min-width: 1240px) {

	.sidebar-left .site-main .penci-container,
	.sidebar-right .site-main .penci-container,
	.penci-container,
	.penci-container-fluid {
		width: 1170px;
	}
}
@media screen and (max-width: 1199px) {
	.main-navigation > ul:not(.children) > li > a {

    font-size: 12px;

}
	.jwa_car_calc {
		padding: 35px 15px 90px 15px !important;
	}
	#reviews .vc_row.vc_column-gap-35{
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	#reviews .penci-row::after {
		display: none;
	}
	.calc-link-block p{
		text-align: right;
	}
	.penci-post-item .calc-link-block a{
		display: block;
		float: left;
	}
	.penci-post-item .calc-link-block h2{
		margin-top: 0px; 
	}
	
	.calc-link-block .penci-col-9 .wpb_text_column .wpb_wrapper{
		display: table;
		margin: 0 0 0 auto;
	}
	
	.penci-post-item .calc-link-block .btn,
	.tel-block.cta-2 .btn {
		font-size: 18px;
		padding: 12px 30px;
	}
}

@media screen and (max-width: 1024px) {
	.sidebar-right .site-main .penci-wide-content {
		width: 100%;
		padding-right: 0;
	}

	.row-faq-01 p {
		margin: 40px 0px 40px 0;
	}

	.vc_custom_1550587884223:before {
		margin-top: -60px;
	}

	.vc_custom_1550587884223:after {
		margin-top: -162px;
	}

	.vc_custom_1550587884223 {
		height: auto !important;
		padding-top: 60px !important;
	}

	.vc_custom_1550587884223 .penci-col-8 {
		z-index: 9;
	}

	.penci-entry-title {
		width: 100%;
	}

	.vc_custom_1550587884223 .penci-col-8 {
		text-align: center;
		display: block;
	}

	.vc_custom_1550587822476 {
		display: block;
		text-align: center;
	}

	.vc_custom_1550587822476 .btn {
		float: none;
	}

	h1.penci-entry-title {
		font-size: 28px !important;
		line-height: 31px !important;
		width: 900px;
	}

	.single .site-main {
		padding: 0;
	}

	.penci-entry-content,
	.penci-single-style-5 .entry-media__content .penci-container {
		padding: 0 30px;
	}

	.penci-active-thumb {
		height: 350px;
	}

	#menu-main-menu-1 {
		justify-content: center;
	}

	.site-footer p {
		text-align: center;
	}

	.title-head {
		margin: 0 0 40px -10px;
		width: calc(100% + 20px);
	}

	.penci-archive__list_posts .penci-post-item {
		padding-bottom: 0px;
	}
	.post-home-page .vc_grid-item-mini,
	.post-home-page .vc_gitem-animated-block > .vc_gitem-zone,
	.blog-default .penci-archive__content .entry-media {
		height: 370px;
	}
	.post-home-page .vc_gitem-animated-block{
		width: 37.5%;
		height: 370px;
	}
	.post-home-page .vc_btn3-container.vc_btn3-left{
		bottom: 15px !important;
	}
	.post-home-page .vc_grid-item p {
		font-size: 16px;
	}
	.post-home-page .vc_gitem-animated-block + .vc_gitem-zone {
		width: calc(100% - 37.5%);
	}
	.post-home-page .vc_grid-item h4{
		padding-right: 40px;
	}
}

@media screen and (max-width: 991px) {
	.jwa_car_calc .carcalc_col{
		padding: 0 15px;
		width: calc(100% / 2) !important;
	}
	.vc_custom_1550588142961 .penci-col-3{
		display: none;
	}
	.why .vc_row > .penci-col-6{
		width: 70%;
		margin: 0 auto;
		float: none;
	}
	.why-sec-each .left{
		width: 33.33333333% !important;
	}
	.why-sec-each .right{
		width: 66.66666666% !important;
	}
	.reviews .penci-row .left{
		width: 75px;
		height: 50px;
		padding: 0 !important;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.reviews .penci-row .left img{
		width: 25px;
	}
	.reviews .penci-row .right {
		padding: 15px 0;
	}
	.reviews .vc_row.vc_column-gap-35 > .vc_column_container {
		padding: 7.5px;

	}
	.reviews .vc_col-sm-8{
		width: 100% !important;
	}
	.banner-branded h1{
		font-size: 48px !important;
	}
	.banner-branded h3{
		font-size: 32px !important;
	}
	.banner-branded .vc_single_image-wrapper, .banner-branded .wpb_text_column > .wpb_wrapper{
		height: 240px;
	}
	.tel-block.cta-2 h5{
		font-size: 30px !important;
	}
	.tel-block.cta-2 h6 {
		font-size: 24px !important;
	}
	.penci-post-item .calc-link-block h2{
		font-size: 30px !important;
	}
	.why.about .vc_column-inner{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
@media screen and (max-width: 768px) {
	h1.penci-entry-title {
		width: 700px;
	}
}

@media screen and (max-width: 767px) {
	.cta-center .wpb_wrapper h2,
	.cta-center .wpb_wrapper h3{
		text-align: center;
		width: 100%; 
	}
	.cta-center .vc_col-sm-4 {
		margin-bottom: 0 !important;
	}
	.cta-2.tel-block .penci-col-9,
	.calc-link-block .penci-col-9{
		margin-right: 0px;
	}
	.wpcf7 textarea{
		max-width: 100%;
	}
	.cta-2.tel-block .penci-col-9{
		margin-bottom: 10px !important;
	}
	.cta-2.tel-block,
	.calc-link-block{
		flex-direction: column; 
		width: 100%;
	} 
	.cta-2.tel-block .wpb_text_column{
		margin-bottom: 0 !important;
	}
	.n2-ss-layer.n2-ow.n2-ss-last-in-row {
		padding: 0 35px;
	}
	.vc_custom_1547037945897{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.n2-ss-section-main-content.n2-ss-layer-content.n2-ow.n-uc-1961176e2696b-inner {
		padding-left: 5px !important;
		padding-bottom: 0 !important ;
		padding-right: 5px !important;
	}
	.vc_custom_1547037945897 div#n2-ss-2 .n2-ss-layer .n2-font-1009-hover{
		display: none !important;
	}
	.vc_custom_1543310476855 > .penci-col-6{
		width: calc(100% - 20px);
		margin: 0 0 0 auto;
		float: none;
	}
	.why-sec-each .left{
		width: 31.662vw !important;
		left: -20px;
		min-width: auto;
	}
	.why-sec-each .right{
		width: 56.728vw !important;
	}
	.jwa_car_calc {
		padding: 35px 15px 30px 15px !important;
	}
	.post-home-page .vc_grid-item p {
		padding-right: 20px;
	}
	.post-home-page .vc_grid-item h4 {
		padding-right: 20px;
	}
	.post-home-page .vc_gitem-animated-block + .vc_gitem-zone{
		padding-left: 0;
	}
	.post-home-page .vc_grid-item p {
		font-size: 14px;
	}
	.post-home-page .vc_btn3-container.vc_btn3-left{
		right: 20px;
	}
	.banner-branded .vc_single_image-wrapper, .banner-branded .wpb_text_column > .wpb_wrapper{
		height: auto;
		text-align: center;
		width: 100%;
	}
	.banner-branded .wpb_single_image .vc_figure{
		margin: 0 auto !important;
		display: table;
	}
	.banner-branded .vc_single_image-wrapper img{
		margin: 0 auto;
	}
	.tel-block.cta-2 .vc_col-sm-9  > .vc_column-inner{
		padding-left: 0 !important;
		padding-right: 0 !important; 
		text-align: center;
	}
	.tel-block.cta-2 .penci-col-3 > .vc_column-inner{
		padding: 0 !important;
		margin: 0 !important;
		text-align: center;
	}
	.top-models .wpb_single_image .vc_single_image-wrapper::before {
		width: 200px !important;
		height: 200px !important;
	}
	.top-models .wpb_single_image .vc_single_image-wrapper img{
		width: 240px;
	}
	.right-car{ 
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
	.right-car .wpb_column:first-of-type{
		order: 1;
	}
	.top-models .wpb_single_image .vc_single_image-wrapper img {
		transform: translate(-40%,-50%);
		left: 50%;
	}
	.top-models .wpb_single_image .vc_single_image-wrapper:before,
	.top-models .wpb_single_image.vc_align_left .vc_single_image-wrapper::before {
		margin: 0 auto 0 auto;
	}
	.top-models .wpb_single_image.vc_align_left .vc_single_image-wrapper img{
		transform: translate(40%,-50%);
		right: 50%;
		left: inherit;
	}
	.top-models .vc_row{
		margin-bottom: 0 !important;
	}
	.penci-post-item .calc-link-block h2{
		font-size: 30px !important;
		margin: 0 auto 20px;
		text-align: center;
		line-height: 1.2 !important;
	}
	.penci-post-item .calc-link-block .btn{
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 30px auto 0 auto;
		display: table; 
	}
	.why .vc_row > .penci-col-6{
		width: 90%;
	}
	.why-sec-each .left{
		width: 33.33333333% !important;
	}
	.why-sec-each .right{
		width: 66.66666666% !important;
	}
	
	.tel-block.cta-2 h6 br{
		display: block;
	}
	.single .penci-active-thumb {
		height: 350px;
	}
	.single .penci-entry-media img.jarallax-img{
		transform: none !important;
		margin-top: 0px !important;
		width: 100% !important;
		height: 100% !important;
	}
	.single .penci_breadcrumbs a span{
		font-size: 10px;
	}
	.single #jarallax-container-0{
		clip: inherit;
		height: 350px !important;
	}
	.single-post .post {
		padding: 0 15px !important;
	}
	#About .wpb_content_element{
		margin-bottom: 0 !important;
	}
	#About .vc_custom_1570639606951 {
		padding-top: 0px !important;
	}
}
@media screen and (max-width: 649px) {
	.post-home-page .vc_gitem-animated-block,
	.post-home-page .vc_gitem-animated-block + .vc_gitem-zone{
		width: 100%;
	}
	.post-home-page .vc_grid-item-mini
	{
		height: auto;
	}
	.post-home-page .vc_grid{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.post-home-page .vc_gitem-animated-block > .vc_gitem-zone, 
	.blog-default .penci-archive__content .entry-media,
	.post-home-page .vc_gitem-animated-block{
		height: 57.011vw;
	}
	.tel-block.cta-2 .vc_col-sm-9  > .vc_column-inner span{
		display: block;
	}
}
@media screen and (max-width: 500px) {
	.n2-ss-layer.n2-ow.n2-ss-last-in-row {
		padding: 0 5px;

	}
	.vc_column-inner.wpb_column.vc_column_container.vc_col-sm-8.penci-col-8.vc_col-lg-8.vc_col-md-12.vc_col-xs-12.vc_custom_1569253614010.vc_custom_1569253614013.vc_custom_1569253614019.vc_custom_1569253614020.vc_custom_1569253614005 {

		margin-top: 20px;

	}
	#undefined-sticky-wrapper { 
    	height: 75px !important; 
	}
}
@media screen and (max-width: 480px) {
	.vc_custom_1550587884223 {
		margin-left: -30px !important;
		margin-right: -30px !important;
	}

	.vc_custom_1550587884223 .penci-col-8 {
		display: block !important;
	}

	.vc_custom_1550587884223:before,
	.vc_custom_1550587884223:after {
		display: none;
	}

	.vc_custom_1550587884223 span {
		display: block;
	}

	.penci-active-thumb {
		height: 250px;
	}

	.single .penci-entry-media {
		padding-top: 0;
	}

	.single .penci-entry-media .penci-jarallax {
		padding-top: 100%;
	}

	h1.penci-entry-title {
		font-size: 18px !important;
		line-height: 21px !important;
		width: 80%;
	}

	.penci_breadcrumbs {
		display: none;
	}

	.penci_breadcrumbs a span {
		font-size: 12px;
	}

	.penci_breadcrumbs .fa-angle-right:before {
		margin: 0;
	}

	#menu-main-menu-1 {
		display: none;
	}

	.site-footer p {
		font-size: 14px;
	}

	.footer__sidebars {
		padding: 0;
	}

	.penci-archive__list_posts .penci-post-item {
		box-shadow: none;
		padding: 0 0 40px;
	}

	.penci-image-holder,
	.penci-archive__content .penci-link-post:after {
		border-radius: 15px;
	}

	.penci-pmore-link {
		margin-top: 30px;
	}

	.title-head {
		margin: 0 0 10px -10px;
	}

	.penci-post-item h2 {
		margin-top: 0 !important;
	}

	.penci-pmore-link {
		bottom: 10px;
	}

	.blog-default .penci-archive__list_posts .entry-text {
		padding-top: 0px !important;
	}

	.single-post .penci-entry-content ul,
	.ez-toc-list {
		padding: 15px 20px 15px 0 !important;
	}
	body .why .vc_row{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	body .why .vc_row .wpb_column{
		width:100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		float: none;
	}
	.penci-archive .penci-archive__content .entry-content {
		padding-bottom: 0;
	}
	body .why .why-sec-each .left{
		width: auto;
		left: 0px;
		min-width: 240px;
		max-width: 240px;
		padding: 15px 0;
		position: static;
		transform: translate(0 ,-20px)
	}
	
	body .why .why-sec-each .right{
		width: 100% !important;
		padding-top: 0 !important;
	}
	.why-sec-each {
		border-radius: 10px;
	}
	.banner-branded h1 {
		font-size: 32px !important;
	}
	.banner-branded h3 {
		font-size: 22px !important;
	}
	.banner-branded .vc_single_image-wrapper img{
		width: 40%;
	}
	.tel-block.cta-2{
		padding-top: 20px !important;
	}
	body .why .wpb_content_element{ 
		padding-left: 0 !important; 
		padding-right: 0 !important;
	}
	.contact-sec .why-sec-each .right, 
	.contact-sec .why-sec-each .left{
		width: 100% !important;
		position: static;
		text-align: center; 
		padding: 0 !important;
	}
	.contact-sec .why-sec-each .wpb_wrapper .left::before {
		top: -10px;
		left: auto;
		margin-left: -100px;
	}
	body .why .vc_row.description {
		padding-left: 15px !important;
		padding-right: 15px !important; 
	}
	.contact-sec .why-sec-each .wpb_wrapper .left.pencisc-col{
		flex-direction: column;
	}
	.single-post .penci-entry-title{
		width: 100%;
	}
	.single-post  .penci_breadcrumbs{
		left: 15px;
		right: 15px;
	}
	.penci-single-style-5 .entry-media__content .penci-container {
		padding: 0 15px;

	}
	.home .vc_custom_1552586842007{
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
	.home .vc_custom_1571663078134.cta-center{
		padding-top: 20px !important;
	}
	.cta-center .wpb_wrapper h2 span{
		display: table;
		margin: 0 auto;
	}
}
/* ++++ Ale L+++ */
.penci-image-holder{
	width:388px;
	height:330px;
}