.rwmb-group-wrapper .rwmb-clone:after {
	content: "";
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
}
.rwmb-group-wrapper .add-clone {
	margin-bottom: 30px;
}
/* Nested clone */
.rwmb-clone .rwmb-clone {
	margin-right: 25px;
}
