/* Common */
.why.about p {
    color: #373339;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.site-content {
    margin: 0 !important;
}

.no-sidebar .site-main .penci-wide-content {
    margin-bottom: 0 !important;
}

.page .penci-content-post {
    padding: 0;
}

ul li {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    color: #373339;
}

img.alignnone {
    margin: 0 !important;
}

ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #524BD3;
    border-radius: 15px;
    left: -30px;
    top: 12px;
    position: absolute;
}

.wpb_text_column {
    background-color: transparent;
    overflow: visible;
}

.btn,
a.btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #373339 !important;
    background: #FF8C59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 12px 30px;
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover,
a.btn:hover {
    text-decoration: none;
}

.gform_confirmation_message_1.gform_confirmation_message .custom-title {
    padding: 160px 0;
}

.gform_wrapper #gform_2 li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    color: red;
}

.gform_confirmation_message_1.gform_confirmation_message .custom-title span {
    display: block;
}

.custom-title {
    overflow: visible;
    text-align: center;
}
.wpb_wrapper .custom-title p,
.wpb_wrapper .jwa_car_calc h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 55px !important;
    font-size: 28px !important;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    z-index: 1;
    margin-bottom: 50px !important;
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.site-main .vc_column_container>.vc_column-inner.gravity_title_column .custom-title p::before {
    content: none;
}

h3.gf_progressbar_title {
    display: none;
}

.gform_wrapper .gf_progressbar_percentage {
    background: #FF8C59 !important;
}

.gform_wrapper .gf_progressbar {
    padding: 3px !important;
}

.gform_wrapper .gf_progressbar_percentage span {
    white-space: nowrap;
    color: #000;
}

.site-main .vc_row.gravity_title_row .custom-title p {
    margin-bottom: 0 !important;
    display: inline;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    line-height: 1.4 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    line-height: 1.4 !important;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 1.4 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    line-height: 1.4 !important;
}
.custom-title .title h2{
	 line-height: 55px !important;
	 font-style: normal;
    font-weight: bold;
    font-size: 28px !important;
    text-align: center;
	font-family: Montserrat;
	text-transform: uppercase;
	 color: #373339;
}
.custom-title .title{
	position: relative;
    z-index: 1;
    margin-bottom: 50px !important;
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.custom-title .title:before,
.cta .cmb::before,
.custom-title h1:before,
.custom-title p:before,
.wpb_wrapper .jwa_car_calc h3:before {
    content: '';
    width: 50%;
    height: 1px;
    background: transparent;
    border-bottom: 3px dashed #FF8C59;
    /*
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
*/
    border-radius: 0px;
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -9px
}

.cta .cmb::before {
    width: 100%;
}

.custom-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #6C686E;
}


.penci-header-mobile.mobile {
    height: auto;
}

.mobile_phone_header_column .title {
    margin-bottom: 0;
}

.mobile_phone_header_column {
    margin-bottom: 0;
}

.mobile-sidebar .primary-menu-mobile li {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.mobile-sidebar .primary-menu-mobile li a {
    color: #373339 !important;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mobile-sidebar .primary-menu-mobile li::before {
    content: none;
}

.mobile-sidebar #sidebar-nav-logo {
    margin-bottom: 0;
}

.mobile-sidebar .mobile-navigation {
    margin-top: 0;
}

.mobile-sidebar .primary-menu-mobile li a:hover,
.mobile-sidebar .primary-menu-mobile li a:active,
.mobile-sidebar .primary-menu-mobile li a:focus {
    color: #ff8c59 !important;

}

@media (max-width: 767px) {
    .header-social.sidebar-nav-social {
        display: none;
    }

    .wpb_wrapper .custom-title h1,
    .wpb_wrapper .custom-title p {
        font-size: 30px;
        margin-bottom: 30px !important;
    }

    .gform_confirmation_message_1.gform_confirmation_message div.custom-title {
        padding: 28px 0;
    }
}




/* Header */
.menu li:before {
    display: none;
}

.site-branding h1,
.site-branding h2 {
    font-size: 35px;
    line-height: 80px;
}

.site-header.header--s1 {
    padding-bottom: 0;
}

#undefined-sticky-wrapper,
#masthead-sticky-wrapper {
    height: 100%;
}

.site-header.header--s10 .custom-logo,
.site-header.header--s1 .custom-logo,
.site-header.header--s5 .custom-logo {
    max-width: 140px;
    vertical-align: middle;
}

.site-header.header--s1 .custom-logo-link:after,
.logo_header_mobile:after {
    content: none;
    font-size: 16px;
    font-family: Ruda, sans-serif;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    left: 0px;
    bottom: -10px;
    color: #FF8C59;
}

.site-header.header--s1 .main-navigation {
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.main-navigation.penci_enable_line_menu>ul:not(.children)>li>a:before {
    top: auto;
    bottom: 16px;
    border-radius: 10px;
    background: #FF8C59;
}

.main-navigation>ul:not(.children)>li.current-menu-item>a,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a,
.main-navigation ul.menu>li.current-menu-item>a {
    color: #545454 !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-navigation>ul:not(.children)>li.current-menu-item>a::before,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a::before,
.main-navigation ul.menu>li.current-menu-item>a::before {
    content: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-navigation>ul:not(.children)>li.current-menu-item>a:hover,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a:hover,
.main-navigation ul.menu>li.current-menu-item>a:hover,
.main-navigation>ul:not(.children)>li.current-menu-item>a:hover::before,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a:hover::before,
.main-navigation ul.menu>li.current-menu-item>a:hover::before {
    content: " ";
    color: #ff8c59 !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent;
    border: none;
}

.site-header .textwidget {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 80px;
}

.site-header .textwidget p {
    margin-bottom: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 14px;
}

.cover.mobile_phone_header .mobile_phone_header_column a,
.site-header .textwidget a {
    min-height: 100%;
    line-height: normal;
    padding: 15px 20px !important;
    margin-top: 13px;
    background: #FF8C59;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.vc_row.cover_mobile {

    position: relative;
    background-position: center 20% !important;
}

@media(min-width:1800px) {

    div.vc_column-inner.title_to_bottom {
        padding-top: 300px !important;
    }
}


/*.vc_row.vc_row-flex.cover_mobile::before {
  content: '';
  display: block;	
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);  
  z-index: 1;
}*/


.vc_row.vc_row-flex.cover_mobile::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.4, rgba(197, 227, 239, 0)), color-stop(1, rgba(0, 0, 0, 0.85)));
    background-image: -webkit-linear-gradient(top, rgba(197, 227, 239, 0) 40%, rgba(0, 0, 0, 0.85) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(197, 227, 239, 0)), to(rgba(0, 0, 0, 0.85)));
    background-image: -o-linear-gradient(top, rgba(197, 227, 239, 0) 40%, rgba(0, 0, 0, 0.85) 100%);
    background-image: linear-gradient(to bottom, rgba(197, 227, 239, 0) 40%, rgba(0, 0, 0, 0.85) 100%);
    background-image: -ms-linear-gradient(top, rgba(197, 227, 239, 0) 43%, rgba(0, 0, 0, 0.85) 100%);
    z-index: 1;
}

.cover.mobile_phone_header {
    padding: 0 !important;
    margin: 0 !important;
}

.cover.mobile_phone_header .mobile_phone_header_column {
    /*      text-align: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
        margin: 0 !important;*/
}

.cover.mobile_phone_header .mobile_phone_header_column a {
    width: 100%;
    margin-top: 0;
    border-right: none;
    background: #FF8C59;
    margin-left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    color: #000;
    padding: 0 !important;
}

.cover.mobile_phone_header .mobile_phone_header_column a::before,
.site-header .textwidget a:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/phone.png) center/contain;
    display: inline-block;
    background-repeat: no-repeat !important;
    margin-right: 10px;
    vertical-align: middle;
}

.cover.mobile_phone_header .mobile_phone_header_column a::before {
    background: url("../img/phone.png");
}

.site-header .textwidget a:hover {
    background: #FF8C59 !important;
    -webkit-box-shadow: 1px 1px 15px rgba(255, 143, 93, 0.6);
    box-shadow: 1px 1px 15px rgba(255, 143, 93, 0.6);
    color: #373339;
}

div.gform_wrapper .gf_progressbar:after {
    background-color: transparent;
}

@media(max-width:500px) {
    .mobile-sticky-wrapper .navbar-toggle .fa {
        color: #FF8C59;
    }

    .mobile-sticky-wrapper .navbar-toggle {
        margin-top: 10px;
    }

    .penci-header-mobile .penci-header-mobile_container {
        height: 75px;
    }

    .penci-header-mobile .site-branding {
        overflow: visible;
    }

    .logo_header_mobile:after {
        position: relative;
        top: 45px;
    }
}


/* Cover */
.custom-title.main_hero_title {
    text-align: left;
}

.custom-title.main_hero_title h1 {
    position: relative;
    display: inline-block;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-size: 56px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 70px;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    padding-bottom: 0px;
    z-index: 0;
}

.hero_info.vc_message_box {
    border: none;
    overflow: visible;
}

.hero_info.vc_message_box p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #312e46;
}

.hero_info i.entypo-icon-check {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 2px;
    background-color: #716edc;
    border-radius: 50%;
}

.about .hero_info i.entypo-icon-check {
    top: 9%;
}

.wpb_wrapper .main_hero_p p {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}



.wpb_wrapper .custom-title.main_hero_title h1::before {
    content: none;
}

.main_hero_title h1 b {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 30px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    display: block;
}

.main_hero_title h1 span.underlined_span {
    position: relative;
    border-bottom: 19px solid transparent;
    -webkit-border-image: url("../img/line.svg") 19;
    -o-border-image: url("../img/line.svg") 19;
    border-image: url("../img/line.svg") 19;
}

/* .wpb_wrapper.wpb_wrapper .custom-subtitle h3 span.underlined_span::after{
position: absolute;	
bottom: -1px;	
width: 100%;	

 }*/
.cover-right {
    overflow: hidden;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.cover-right .wpcf7 {
    position: relative;
    z-index: 111;
}

.cover-right br {
    display: none;
}

.mobile_cover_right {
    margin-top: 0 !important;
}

.cover-right span.wpcf7-not-valid-tip {
    margin-top: -20px;
    font-size: 14px;
}

.cover-right div.wpcf7-validation-errors {
    border: 0;
    color: #f00;
    font-size: 14px;
    text-align: center;
}

.cover-right .cover-right:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    z-index: 2;
    background: #312f46;
    display: block;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.cover-right .title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: 49px;
    font-size: 24px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-bottom: 50px !important;
}

.cover-right .title p {
    z-index: 2;
    position: relative;
}

div.gform_wrapper div.validation_error {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
}

div.gform_wrapper #gform_2 div.validation_error {
    color: red;
}

div.gform_wrapper form.multipage_gravity_form div.validation_error {
    color: #790000;
    padding: 0;
}

div.gform_wrapper div.validation_message {
    color: #fff;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 15px;
}

div.gform_wrapper li.gfield.gfield_error {
    border: none;
    background-color: transparent;
}

.gform_wrapper li.gfield_error select {
    border: 1px solid #790000;
}

li.top_form_input {
    padding-right: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

li.top_form_input .ginput_container {
    margin-top: 0 !important;
}

.top_form_input .ginput_container input::-webkit-input-placeholder,
.cover-right .wpcf7 input::-webkit-input-placeholder {
    color: #E4E4E4;
}

.top_form_input .ginput_container input:-ms-input-placeholder,
.cover-right .wpcf7 input:-ms-input-placeholder {
    color: #E4E4E4;
}

.top_form_input .ginput_container input::-ms-input-placeholder,
.cover-right .wpcf7 input::-ms-input-placeholder {
    color: #E4E4E4;
}

.top_form_input .ginput_container input::placeholder,
.cover-right .wpcf7 input::placeholder {
    color: #E4E4E4;
}

.cover-right .wpcf7 input,
.top_form_input .ginput_container input,
.top_form_input .ginput_container select {
    background: #fff;
    border: 1px solid #312e46;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 5px;
    padding: 10px 12px !important;
    height: 100%;
    max-height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: normal;
    width: 100% !important;
    font-size: 14px !important;
    color: #313131;
    margin-top: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.top_form li select {
    cursor: pointer;
}

.top_form li select option {
    background-color: #FFF;
    color: #373339;
    padding: 10px 0;
    cursor: pointer !important;
}

.pre_approved_form {
    overflow: visible !important;
}

.pre_approved_form span.time::after,
.top_form .ginput_container.ginput_container_select,
.pre_approved_form select,
.pre_approved_form span.date-field {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.gform_wrapper .gform_footer.top_label {
    padding: 0;
    margin: 15px auto 0;

}

div.gform_wrapper #gform_2 div.validation_error {
    color: red;
    position: absolute;
    bottom: 10px;
    border: 0;
    padding: 0;
    font-size: 12px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
}

.pre_approved_form span.time::after,
.pre_approved_form span.date-field::after,
.top_form .ginput_container.ginput_container_select::after {
    content: "";
    position: absolute;
    background: url(../img/down.png) center/contain no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    right: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top_form_input .ginput_container select:hover,
.top_form_input .ginput_container input:hover,
.cover-right .wpcf7-form input:hover,
.cover-right .wpcf7-form select:hover {
    background: #fff;
    border: 1px solid #FF8F5D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.top_form_input .ginput_container input::-webkit-input-placeholder,
.cover-right .wpcf7-form input::-webkit-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #8c8c8c;
}

.top_form_input .ginput_container input:-ms-input-placeholder,
.cover-right .wpcf7-form input:-ms-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #8c8c8c;
}

.top_form_input .ginput_container input::-ms-input-placeholder,
.cover-right .wpcf7-form input::-ms-input-placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #8c8c8c;
}

.top_form_input .ginput_container input::placeholder,
.cover-right .wpcf7-form input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #8c8c8c;
}

.top_form .gform_button.button,
.cover-right .wpcf7 input[type="submit"] {
    background: #ff8c59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 5px;
    font-family: Montserrat;
    padding: 10px 0px !important;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 14px !important;
    text-align: center !important;
    letter-spacing: 0.02em;
    color: #373339;
    margin: auto !important;
    display: block !important;
    width: 100% !important;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.top_form .gform_button.button:hover,
.cover-right .wpcf7 input[type="submit"]:hover {

    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.cover-right .wpcf7 .ajax-loader {
    display: none;
}

.cover .custom-subtitle {
    text-align: left;
}


/*@media (max-width: 767px ) and (min-width:650px) {
	.vc_row.cover_mobile{
background-position-x:37% !important 	;

	}
	}*/

@media(max-width:768px) {

    .vc_row.cover_mobile {
        background-image: url("../img/main_hero_bg_mobile.jpg") !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top !important;
    }

    .vc_row.cover_mobile .vc_col-sm-8 .vc_col-sm-8 {
        background-color: transparent !important;
    }

    .vc_row.vc_row-flex.cover_mobile::before {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .wpb_wrapper .custom-title.main_hero_title h1 {

        font-size: 40px;
        line-height: 50px;
        text-align: center !important;
    }

}

@media (max-width: 767px) {



    .hero_check_info .vc_col-sm-4 {
        margin-bottom: 0;
    }

    .custom-title.main_hero_title {
        text-align: center;
    }





    .wpb_wrapper.wpb_wrapper .custom-subtitle h3 {
        font-size: 30px;
        text-align: center;
    }

    .cover-right {
        margin-top: 30%;
    }

    .cover-right .vc_column-inner {
        margin-bottom: 0;
        border-radius: 0 !important;

        border-bottom: 0.25px solid #C2CAD0;
    }

}

@media (max-width: 1024px) {

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li label {
        margin: 0 auto;
        padding: 20px 5px;
        min-width: 192px;

    }
}

@media (max-width: 989px) {
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-top: 15px;
    }
}

@media (max-width: 979px) {
    #field_1_35.information_span.field_description_below {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {

    form.multipage_gravity_form .gform_fields>li.gfield:first-child {
        text-align: center;
    }

    form.multipage_gravity_form .gform_fields>li.gfield:first-child>label {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: initial;
    }

    form.multipage_gravity_form .page_checkbox .gform_fields>li.gfield:first-child {
        text-align: left;
        max-width: 100%;
    }

    div li.gfield.input_col_4 {
        width: 100%;
        padding: 0 10px;
        margin-left: 20px !important;
    }



    .form_final_text {
        padding-left: 0;
    }

    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below+.gfield_html {
        margin-top: 20px;
    }


    .multipage_gravity_form div.gform_page .gform_fields {
        padding: 0 20px;
        margin-bottom: 0;
    }

    .gform_wrapper .multipage_gravity_form ul.gfield_checkbox li label,
    .gform_wrapper ul.gfield_radio li label {
        min-width: 280px;
        margin-bottom: 15px !important;
    }

    form.multipage_gravity_form div.ginput_container_radio ul.gfield_radio {
        margin-bottom: 0px;
    }

    form.multipage_gravity_form input.gform_button.button,
    form.multipage_gravity_form .gform_page_footer input.button.gform_next_button {
        width: 280px;
        padding: 20px 0;
        font-size: 18px;
    }



    body .gform_wrapper form.multipage_gravity_form ul li.field_description_below div.ginput_container_radio {
        margin-top: 0;
    }

    .multipage-form-timeline label,
    form.multipage_gravity_form .ginput_container_radio label br {
        display: none;
    }

    .gform_wrapper form.multipage_gravity_form li.warning_description div input {
        min-width: 280px;
    }

    .gform_wrapper form.multipage_gravity_form li.warning_description div {
        margin-top: 0;
    }

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li {
        width: 100%;
    }

    li.radio_col_6 .gfield_radio>li {
        width: 100%;
    }

    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below {
        margin-bottom: 21px;
    }

    form.multipage_gravity_form .gravity_inner_input_half .ginput_container input {
        min-width: 280px;
    }

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li label {
        margin: 0 auto !important;
        padding: 20px 5px;
        min-width: 192px;

    }


}

@media (max-width: 692px) {
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-top: 0px;
    }

    body .gform_wrapper ul li.gfield.gravity_input_single_big {
        margin-top: 25px !important;
    }


}


@media (max-width: 584px) {
    .hero_info.vc_message_box p {
        font-size: 18px;
    }

    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 408px;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-left: 0;
        padding-right: 0;
    }

    .multipage_gravity_form div.gform_page .gform_fields {
        padding: 0px;
    }

    form.multipage_gravity_form div.gform_page_footer .gform_button.button,
    form.multipage_gravity_form div.gform_page_footer .button.gform_next_button {

        margin-bottom: 30px;
    }

    body .gform_wrapper ul.top_label li.gfield {
        margin-top: 0;
        margin-bottom: 0;
    }

    form.multipage_gravity_form div.gform_page div.ginput_container_radio ul.gfield_radio {
        margin: 25px auto 25px auto;
    }

    .multipage-form-timeline label,
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    div.gform_wrapper form.multipage_gravity_form li.information_span p {
        line-height: 19px;
        font-size: 14px;
        text-align: center;
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input {
        height: 30px;
        width: 30px !important;
        margin-right: 10px;
    }

    .final_label_box .gfield_checkbox label {
        min-width: unset;

    }

    .form_final_text {
        font-size: 16px;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input::before {
        height: 30px;
        width: 30px;
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input:checked::after {
        top: 3px;
        left: 11px;

        width: 9px;
        height: 21px;
    }

    div.gform_wrapper form.multipage_gravity_form .top_label .input_number_label input.small {
        width: 100%;

    }
}

@media (max-width: 442px) {
    div.wpb_text_column.custom-title {
        text-align: center;
        padding: 0 8px;
    }

    div.custom-title h1,
    div.custom-title p {
        line-height: 33px;

        font-size: 24px;

    }


}

@media (max-width: 375px) {
    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input {
        margin-right: 34px;
    }
}

/* CTA */
.cta h2 {
    font-weight: 600;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.cta .cmb {
    position: relative;
    margin-left: 50px;
    color: #FF8C59;
    text-decoration: none !important;
    cursor: pointer;

}

.cta .cmb:after {
    content: '';
    background: url(../img/up.png) center/contain no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 12px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cta .cmb.cmb_open:after {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.cta .wpcf7 {
    display: none;
}

.cta .wpb_text_column {
    margin-bottom: 20px;
}

.cta .wpcf7-form>p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cta .wpcf7-form>p span {
    margin-right: 5px;
    margin-left: 5px;
}

.cta .wpcf7-form select option {
    background-color: #FFF;
    color: #373339;
    padding: 10px 0;
    cursor: pointer !important;
}

.cta .wpcf7-form input,
.cta .wpcf7-form select {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid rgba(255, 143, 93, 0.6);
    border-radius: 5px;
    max-height: 100%;
    height: 44px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.cta .wpcf7-form input,
.cta .wpcf7-form select {

    border: 1px solid rgba(255, 143, 93, 0.6) !important;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.cta .wpcf7-form input[type="date"],
.cta .wpcf7-form select {
    width: 100%;
}

.cta span.wpcf7-not-valid-tip {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.cta .wpcf7-form input::-webkit-input-placeholder,
.cta .wpcf7-form select,
.cta .wpcf7-form input[type="date"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
    opacity: 1;
    line-height: 42px;
}

.cta .wpcf7-form input:-ms-input-placeholder,
.cta .wpcf7-form select,
.cta .wpcf7-form input[type="date"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
    opacity: 1;
    line-height: 42px;
}

.cta .wpcf7-form input::-ms-input-placeholder,
.cta .wpcf7-form select,
.cta .wpcf7-form input[type="date"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
    opacity: 1;
    line-height: 42px;
}

.cta .wpcf7-form-control-wrap {
    width: calc(100% / 4 - 54px);
    margin-right: 15px !important;
    margin-left: 0 !important;
}

.cta .wpcf7-form-control-wrap.message-18-wrap {
    width: 150px;
    margin-right: 0;
}

.cta .time_select,
.cta .date_select {
    position: relative;
}

.cta .time_select:before,
.cta .date_select:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-bottom: 2px solid #FF8C59;
    border-right: 2px solid #FF8C59;
}

.cta .wpcf7-form input::placeholder,
.cta .wpcf7-form select,
.cta .wpcf7-form input[type="date"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
    opacity: 1;
    line-height: 42px;
}

.cta .wpcf7-form input:hover,
.cta .wpcf7-form select:hover {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid #FF8F5D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.cta .wpcf7-form input[type="submit"] {
    background: #FF8C59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 10px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #333333;
    min-width: 150px;
    padding: 16px 10px;
    margin-left: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.cta .wpcf7-form input[type="submit"]:hover {
    background: #FF8C59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.cta .wpcf7-form input[type="date"] {
    height: auto;
    padding: 20px 25px 19px;
    margin-bottom: 0;
}

@media(max-width: 991px) {
    .vc_mobile .cover-right .title:before {
        background-size: cover;
    }

    .cover-right .title:before {
        left: -25%;
        right: -25%;
        top: -20px;
        height: 110px;
        background-position: center bottom;
    }

    .cta .wpcf7-form-control-wrap.message-18-wrap {
        width: 100px;
    }

    .cta .wpcf7-form input[type="submit"] {
        min-width: 100px !important;
        margin-left: 0 !important;
    }

    .ajax-loader {
        display: none !important;
    }

    .cta .wpcf7-form-control-wrap {
        width: calc(100% / 4 - 33px);
        margin-right: 5px !important;
    }

    .cta .cmb {
        margin-left: 20px;
    }

    .how-sec .wpb_column>.wpb_wrapper {
        padding: 40px 15px 15px !important;
    }

}

@media(max-width: 767px) {
    .cta .wpcf7-form-control-wrap {
        width: calc(100% / 2 - 7.5px);
        margin-right: 15px !important;
    }

    .cta .wpcf7-form-control-wrap:nth-of-type(2n) {
        margin-right: 0 !important;
    }

    .cta .wpcf7-form input[type="submit"] {
        margin: 15px auto 0 !important;
    }

    .cta .cmb {
        display: block;
    }

    .site-main .vc_row {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .site-main #calculator .vc_column_container>.vc_column-inner,
    .vc_row.vc_column-gap-15>.vc_column_container,
    .site-main .vc_column_container>.vc_column-inner .vc_column-inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #calculator .carcalc_col {
        padding: 10px 7.5px !important;
        width: 100% !important;
    }

    .carcalc_payment_inputs {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .carcalc_result-text {
        line-height: 36px;
    }

    .penci-entry-content {
        padding: 0 !important;
    }

    .banner-2 div,
    .cover.cover_mobile div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 400px) {
    .cta .wpcf7-form-control-wrap {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 15px;
    }

    .cta .wpcf7-form input[type="submit"] {
        min-width: 100% !important;
        margin-top: 0 !important;
    }

    .cta .wpcf7-form input {
        margin-bottom: 0;
    }

    .main_hero_title h1 span.underlined_span {
        display: block;
    }

    .wpb_wrapper .custom-title.main_hero_title h1 {
        font-size: 38px;
    }
}



/* How */
.how-sec .wpb_column>.wpb_wrapper {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    padding: 40px;
    height: 100%;
}

.how-sec--title p {
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    font-weight: 600;
    font-size: 18px;
}

.how-sec--content {
    font-size: 14px;
    text-align: center;
    color: #6C686E;
}

.how-sec ul li {
    margin-left: 0;
    font-size: 14px;
}

.how-sec ul li:before {
    display: none;
}

.how-sec-1 .how-sec--title,
.how-sec-2 .how-sec--title,
.how-sec-3 .how-sec--title {
    position: relative;
    padding-top: 30px;
}

.how-sec-1 .how-sec-1:before,
.how-sec-2 .how-sec-2:before,
.how-sec-3 .how-sec-3:before,
.form-step-title:before {
    content: '1';
    background-color: rgba(82, 75, 211, 0.8);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    display: block;
    margin: auto;
    border-radius: 70px;
    border: 5px solid rgba(194, 202, 208, 1);
    color: white;
    padding: 15px 23px;
    font-family: Montserrat;
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.how-sec-2 .how-sec-2:before {
    content: '2';
}

.how-sec-3 .how-sec-3:before {
    content: '3';
}



/* Why */
.why .custom-subtitle {
    max-width: 480px;
    margin: -30px auto 0;
}

.why .custom-subtitle p {
    font-size: 16px;
}

.why-sec-each {
    background-color: rgba(243, 243, 255, 0.8);
    border-radius: 3px;
}

.wpb_wrapper .why-sec-each .left {
    background-color: white;
    padding: 0px 14px;
    margin-bottom: 0;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    position: absolute;
    top: -10px;
    bottom: -10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.multipage_gravity_form input {
    padding: 0 15px !important;
    width: 100% !important;
}

.vc_custom_1547455665750 {
    min-height: calc(100vh - 278px) !important;
}

#content {
    min-height: calc(100vh - 193px) !important;
}

#field_1_86,
#field_1_87,
#field_1_85 {
    width: calc(100% / 3 - 10px) !important;
    padding-right: 0 !important;
}

.gform_page_footer .button {
    width: 380px !important;
    height: 60px;
}

#field_1_86,
#field_1_85 {
    margin-right: 15px !important;
}

.wpb_wrapper .why-sec-each .penci-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0;
}

.why-sec-each {
    margin-bottom: 40px !important;
}

.why-sec-each .penci-row:after {
    display: none;
}

.why-sec-each .left:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/small_triangle.svg) center/contain no-repeat;
    left: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wpb_wrapper .why-sec-each .right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 14px;
    color: #373339;
    padding: 15px 35px 15px 30px;
    margin: 0 0 0 auto;
}

@media (max-width: 767px) {
    .why {
        padding: 0 30px !important;
    }

    .why .custom-title p {
        margin-bottom: 25px !important;
        line-height: 40px;
    }

    .why-sec-each .penci-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .why-sec-each .right {
        padding: 30px 30px;
    }

    .why-sec-each .left {
        min-width: 240px;
        width: 100%;
    }

    .wpb_wrapper .how-sec .wpb_column>.wpb_wrapper {
        padding: 15px 20px;
    }

    .how-sec-3 {
        margin-bottom: 0;
    }

    .why.about .wpb_wrapper ul {
        padding-left: 10px;
    }

    .why.about .wpb_wrapper h4 {
        text-align: center;
    }
}


/* Banner 2 */
.banner-2 .custom-title p {
    width: 100%;
    font-weight: bold;
    line-height: 52px;
    font-size: 34px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px !important;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

.banner-2 .custom-title p span {
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
    max-width: 900px;
    display: inline-block;
}

.banner-2 .custom-title p:before {
    display: none;
}

.banner-2 .phone a {
    position: relative;
    background: #FF8C59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding: 15px 25px 15px 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #373339;
    text-decoration: none;
}

.banner-2 .phone a:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../img/phone.png) center/contain no-repeat;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-2 .phone a:after {
    content: none;
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
    background-color: #F36729;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50px;
}

.banner-2 .custom-title.custom-title-mobile p.selling_a_car {
    font-size: 29px;
    line-height: normal;
    margin-bottom: 0 !important;
}

.banner-2 .custom-title.custom-title-mobile p.selling_a_car span {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 0 !important;
}

.vc_row.banner-2:after {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    display: block;
}

.vc_row.banner-2>.wpb_column {
    position: relative;
    z-index: 1;
}


@media (max-width: 500px) {
    .banner-2 .phone a {
        display: block;
    }



    .banner-2 .phone a:before {

        left: 40px;

    }

    .vc_row.banner-2:after {
        top: 0%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
}

.mobile_selling_car_phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;

}

.gform_wrapper ul.gform_fields li {
    position: relative;
}

/* Car Finance Calculator */
.jwa_car_calc {
    padding: 40px;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
}

.jwa_car_calc h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
}

.gform_wrapper #gform_2 li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    color: red;
    position: absolute;
    padding: 0;
    font-size: 10px;
    bottom: -2px;
    left: 14px;
    background: #fff;
    width: auto;
}

body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
}

/* Review */
.tes-content {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
}

.tes-content .quote {
    margin-bottom: 30px !important;
    position: relative;
}

.tes-content .quote:before,
.tes-content .quote:after {
    content: '“';
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: 94px;
    font-size: 60px;
    text-align: center;
    color: #FF8C59;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: -15px;
}

.tes-content .quote:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: -25px;
}

.reviews .right br {
    display: none;
}

.reviews .right p {
    margin: 0;
    white-space: nowrap;
}

.reviews .penci-row .right {
    padding: 15px;
    width: 100%;
}

.reviews .penci-row .right img {
    margin-bottom: 0;
}

.reviews .penci-row .right .rating {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    color: rgba(70, 95, 115, 0.6);
}

.reviews .penci-row {
    background: rgba(243, 243, 255, 0.8);
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reviews .penci-row .left {
    background-color: white;
    margin-bottom: 0;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    margin-right: 15px;
    padding: 20px 30px;
    text-align: center;
}

@media (max-width: 767px) {
    .reviews_stars .penci-col-4 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .row:after,
    .penci-row:after {
        display: none;
    }

    .reviews .penci-row {
        margin-bottom: -50px !important;
    }

    .carcalc_payment_inputs {
        text-align: center;
    }

    .carcalc_payment_inputs .radio_label.monthly_label {
        margin-right: 0;
    }

    .carcalc_col.carcalc_col_left {
        margin: 0 auto;
    }

    p.carcalc_result-text {
        text-align: center;
    }

    .carcalc_col.carcalc_col_right {
        width: 100%;
        text-align: center;
    }

    .carcalc_col.carcalc_col_right p {
        text-align: center;
    }

}

@media (max-width: 375px) {
    .reviews .reviews_stars {
        padding-left: 10px;
        padding-right: 10px;
    }

    .reviews_stars .penci-col-4 {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-bottom: 10px;
    }

    .n2-ss-section-main-content {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }



}

@media (max-width: 500px) {

    div.tes-content .quote:before,
    div.tes-content .quote:after {

        content: none;
    }


}


/* CTA 2 */
.cta-2 h2 {
    color: #E5E5E5;
    font-size: 28px;
    margin-bottom: 0;
    margin-top: -15px;
    font-weight: 500;
}

.cta-2 h2 span {
    font-weight: 700;
}

.cta-2 h3 {
    color: #E5E5E5;
    font-size: 18px;
    font-weight: 500;
}

.cta-2 .btn {
    float: right;
}



/* Listing */
.listing-sec img {
    -webkit-transform: scale(1.11);
    -ms-transform: scale(1.11);
    transform: scale(1.11);
}

.listing-sec .wpb_single_image {
    text-align: center;
}

.listing-sec>.wpb_column>.wpb_column>.wpb_wrapper {
    background-color: white;
    border-radius: 16px;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
}

.listing-sec .wpb_text_column {
    padding: 20px 30px;
}

.listing-sec .wpb_text_column h3 {
    line-height: 44px;
    font-size: 32px;
    text-transform: uppercase;
    color: #373339;
}

.listing-sec .wpb_text_column p:last-child {
    text-align: right;
}

.listing-sec .text-btn,
.recent-news .text-btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #F36729;
    text-decoration: none;
}

.listing-sec .text-btn:after,
.recent-news .text-btn:after {
    content: '';
    width: 18px;
    height: 15px;
    background: url(../img/right.png) center/contain no-repeat;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

@media (max-width: 767px) {
    .cta-2 .penci-col-4 .wpb_wrapper {
        text-align: center;
    }

    .cta-2 .wpb_wrapper .btn {
        display: inline-block;
        float: none;
    }

    .cta-2 .wpb_wrapper h2,
    .cta-2 .wpb_wrapper h2 {
        font-size: 30px;
    }

    .listing-sec>.wpb_column>.wpb_column>.wpb_wrapper {
        overflow: hidden;
        border-radius: 16px;
    }
}





/* Recent News */
.recent-news img {
    width: 100%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.recent-news .penci-row:after {
    display: none;
}

.recent-news .penci-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    overflow: hidden;
}

.recent-news .left {
    margin-bottom: 0;
    padding: 0;
    margin-right: 40px;
}

.recent-news .right {
    padding-right: 30px;
}

.recent-news .right h4 {
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.recent-news .date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    color: #373339;
}

.recent-news .right p:last-child {
    text-align: right;
}

@media (max-width: 500px) {
    .recent-news .penci-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .recent-news .left {
        margin: 0;
        margin-bottom: 40px;
    }

    .recent-news .right p:last-child {
        margin-bottom: 30px !important;
    }
}




/* Contact Section */
.contact-sec {
    overflow: visible !important;
}

.contact-sec h3 {
    color: #FF8C59;
    text-transform: uppercase;
}

.contact-sec .dark-title:before {
    content: '';
    background: url(../img/big_triangle.svg) center/contain no-repeat;
    width: 150px;
    height: 150px;
    display: inline-block;
    position: absolute;
    top: -250%;
    left: 25%;
}

.contact-sec .dark-title {
    margin-bottom: 50px;
}

.contact-sec .dark-title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FF8C59;
}

.cta .wpcf7-form input:-webkit-input-placeholder,
.cta .wpcf7-form input:-ms-input-placeholder,
.cta .wpcf7-form input::-ms-input-placeholder,
.cta .wpcf7-form input::placeholder {
    line-height: 44px !important;
}

.contact-sec .wpcf7-form input::-webkit-input-placeholder,
.contact-sec .wpcf7-form textarea::-webkit-input-placeholder {
    color: #E4E4E4;
}

.contact-sec .wpcf7-form input:-ms-input-placeholder,
.contact-sec .wpcf7-form textarea:-ms-input-placeholder {
    color: #E4E4E4;
}

.contact-sec .wpcf7-form input::-ms-input-placeholder,
.contact-sec .wpcf7-form textarea::-ms-input-placeholder {
    color: #E4E4E4;
}

.contact-sec .wpcf7-form input::placeholder,
.contact-sec .wpcf7-form textarea::placeholder {
    color: #E4E4E4;
}

.contact-sec .wpcf7-form input,
.contact-sec .wpcf7-form textarea {
    background: rgba(70, 95, 115, 0.6);
    border: 0.75px solid rgba(255, 143, 93, 0.6);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    height: auto;
    max-height: 100%;
    padding: 12px 18px;
    margin-bottom: 10px;
    color: white;
}

.contact-sec .wpcf7-form .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.contact-sec .wpcf7-form .col-2>span {
    width: 49%;
}

.contact-sec .wpcf7-form input[type="submit"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #373339;
    background: #FF8C59;
    /* 1 */
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 12px 25px;
    margin-top: 30px;
}

.contact-sec .why-sec-each {
    background-color: transparent;
}

.contact-sec .why-sec-each .penci-row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact-sec .why-sec-each .left {
    padding-top: 0;
    background-color: transparent;
    color: #FF8C59;
    -webkit-box-shadow: none;
    box-shadow: none;
	flex-wrap: nowrap;
}

.contact-sec .why-sec-each .right {
    padding-top: 0;
    color: #FF8C59;
    line-height: 28px;
    font-size: 16px;
}


/* Copyright */
.copyright .penci-block-vc {
    background: transparent;
    padding: 0;
}

.copyright .penci-block-vc li {
    display: inline-block;
    width: auto;
}

.copyright .penci-block-vc li:last-child {
    display: none;
}

.copyright .penci-block-vc .menu {
    text-align: center;
    margin-bottom: 0;
}

.copyright .penci-block-vc li a {
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}

.copyright .penci-block-vc li a:hover,
.copyright .penci-block-vc li a:active,
.copyright .penci-block-vc li a:focus {
    color: #FF8C59;
}

.copyright .vc_column-inner {
    padding-top: 0 !important;
}



/* Multipage Form */
.form-step-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-step-title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    font-variant: small-caps;
    color: #373339;
}

.form-step-title:before {
    position: static;
    display: inline-block;
    margin: 0;
    margin-right: 25px;
}

.multipage-form-timeline {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.multipage-form-timeline .col-2 {
    float: left;
    width: 10%;
}

.multipage-form-timeline .col-10 {
    float: left;
    width: 90%;
}

.multipage-form-timeline .form-steps span,
.multipage-form-timeline .form-steps.active span:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #524BD3;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.multipage-form-timeline .form-steps.active span {
    background-color: #FF8C59;
    z-index: 2;
    position: relative;
}

.multipage-form-timeline .form-steps.active span:before {
    content: '';
    height: 25px;
    width: 25px;
    border: 2px solid orange;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -5px;
    background: white;
    z-index: -1;
}

.multipage-form-timeline .form-steps.active span:after {
    top: -5px;
    background-color: #FF8C59;
}

.multipage-form-timeline .form-steps {
    height: 100%;
    position: relative;
}

.multipage-form-timeline .form-steps:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    border: .5px dashed #B1B1B1;
    display: inline-block;
}

.multipage-form-timeline h4 {
    margin-bottom: 30px;
}

.multipage-form-timeline .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.multipage-form-timeline .col-2:nth-last-child(2) .form-steps:after {
    display: none;
}

.multipage-form-timeline h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 20px;
    color: #373339;
}

div li.gfield.input_col_4 {
    width: calc(100%/3 - 25px);
    margin-left: 20px !important;
}

.input_col_4 input {
    width: 100% !important;
    min-width: 0 !important;
}

.gravity_inner_input .instruction {
    display: none;
}

form.multipage_gravity_form div.ginput_container_radio ul {
    width: auto;
    margin: 35px auto 30px;
    text-align: center;
}

form.multipage_gravity_form .radio_block_single_80 div.ginput_container_radio ul {
    margin-top: 80px;
}

form.multipage_gravity_form .radio_block_single_40 div.ginput_container_radio ul {
    margin-top: 25px;
}

form.multipage_gravity_form div.ginput_container_radio li {
    overflow: visible;
    display: inline-block;
    margin-bottom: 0;
}

form.multipage_gravity_form .top_label label.gfield_label {
    padding-left: 0;
    text-align: center;
}

form.multipage_gravity_form .top_label .gravity_input_single .gfield_label {
    padding-left: 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding-right: 60px;
}

.multipage-form-timeline input[type="radio"],
form.multipage_gravity_form div.ginput_container_radio input[type="radio"] {
    display: none;
}

.multipage-form-timeline label,
form.multipage_gravity_form .ginput_container_radio label {
    background: #E7EAEC;
    -webkit-box-shadow: 1px 1px 8px rgba(194, 202, 208, 0.4);
    box-shadow: 1px 1px 8px rgba(194, 202, 208, 0.4);
    border-radius: 6px;
    padding: 20px 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #373339;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 17px;
    min-width: 200px;
    margin-right: 17px;
    white-space: nowrap;
    max-width: none;
}

form.multipage_gravity_form div.ginput_container_radio label {
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 17px;
    margin-right: 17px;
    max-width: none;
}


body .gform_wrapper form.multipage_gravity_form .ginput_container.ginput_container_number {
    margin-top: 0;
}

.multipage-form-timeline input:checked~label,
form.multipage_gravity_form .ginput_container_radio input:checked~label {
    background: #FFB353;
}

.multipage_gravity_form .gform_page .gform_fields {
    text-align: center;
    padding: 0 70px;
    position: relative;
}

.multipage_gravity_form .gform_page .gform_fields>li {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.multipage_gravity_form .gform_page .gform_fields>li.number_input_margin {
    margin-top: 19px;
}

@media(max-width:988px) {
    .multipage_gravity_form .gform_page .gform_fields>li.number_input_margin {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

div.gform_wrapper .gravity_inner_input .gfield_description {
    position: absolute;
    padding-top: 0;
}

form.multipage_gravity_form .gform_page_footer .button.gform_previous_button {
    width: auto;
    background: none;
    color: gray;
    text-transform: none;
    text-align: center;
    display: inline-block;
    border-bottom: 3px solid lightgray;
    padding: 0;
    line-height: 23px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    cursor: pointer;
}

.gform_wrapper form.multipage_gravity_form .gform_page_footer {
    border-top: none;
    position: relative;
}

.gform_wrapper form.multipage_gravity_form li.information_span p::before {
    content: "";

    background: url(../img/info-circle.svg) center/contain no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);

}

.gform_wrapper form.multipage_gravity_form li.information_span.gravity_input_single_information_span {

    margin-top: 30px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input {

    position: relative;
    width: 42px !important;
    height: 42px;
    margin-right: 30px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 11px;
    display: block;
    width: 18px;
    height: 29px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li label {
    font-weight: 700;
}

.final_label_box .gfield_checkbox li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gravity_inner_input_full {
    width: 90%;
}

form.multipage_gravity_form .gravity_inner_input_half input {
    min-width: 415px;
}

div.gform_wrapper .gform_page_footer {
    margin: 0;
    padding: 0;
}

.gform_wrapper form.multipage_gravity_form div.information_span_margin_top li.information_span {
    margin-top: 0px;
}

div.button_margin_top div.gform_page_footer {
    margin-top: 25px;
}

body .gform_wrapper ul li.gfield.gravity_single_margin {
    margin-top: 40px;
}

body .gform_wrapper ul li.gfield.approximate_value {
    margin-top: 30px;
}

body .gform_wrapper ul li.gfield.approximate_value label {
    white-space: nowrap;
}

form.multipage_gravity_form .gform_button.button,
form.multipage_gravity_form .gform_page_footer .button.gform_next_button {
    display: block;
    padding: 20px 100px;
    margin-top: 0px;
    margin-bottom: 130px;
    margin-left: auto !important;
    margin-right: auto !important;
    background: #FF8C59;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;
    color: #333333;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

div.gform_page_fields li.gravity_display_block {
    display: block !important;
    padding-top: 25px !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.multipage_gravity_form .gform_page .gform_fields>li.gravity_display_block_pt30 {
    padding-top: 30px !important;
}

div.gform_page_fields .gravity_inner_input_margin {
    margin-bottom: 50px !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.gform_wrapper form.multipage_gravity_form li.information_span {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
    text-align: center;

}

.gravity_input_single_big {}

form.multipage_gravity_form .gravity_input_single.gravity_input_single_big input {
    width: 560px;
    max-width: 100%;
}

.gform_wrapper form.multipage_gravity_form li.information_span p {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    color: #373339;
    max-width: 550px;
    display: inline-block;
    position: relative;

}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio ul {
    margin-bottom: 0;
}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio li {
    margin: 12px 0;
    width: calc(100%/3);
}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio li label {
    width: calc(100% - 44px);
    margin: 0 22px;
}

body .gform_wrapper ul li.field_description_below div.ginput_container_radio {
    margin-bottom: 0;
}

form.multipage_gravity_form .top_label .gravity_inner_input label.gfield_label {
    position: absolute;
    top: -22px;
    padding-left: 0;
    font-size: 16px;
    line-height: 22px;
}

form.multipage_gravity_form .top_label .gravity_inner_input.input_number_label label.gfield_label {
    position: absolute;
    right: 60px;
    top: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.input_number_label .instruction {
    display: none;
}

.warning_description {
    margin-top: 0 !important;
}

form.multipage_gravity_form .warning_description input,
form.multipage_gravity_form .gravity_input_single input,
.gravity_inner_input input {
    height: 60px;
    min-width: 280px;
    margin-top: 0px;
    border-radius: 5px;
    background: #F3F3FF;
    border: 0.75px solid #FF8C59;
}

form.multipage_gravity_form .top_label .gravity_input_single input {
    width: 100%;
}

ul.gform_fields li.radio_list_no_margin ul.gfield_radio {
    margin-bottom: 0;
}

.gform_wrapper form.multipage_gravity_form li.warning_description input {
    min-width: 540px;
    line-height: 22px;
    font-size: 18px;
    padding-left: 23px !important;
    padding-right: 23px !important;
}

.gform_wrapper .warning_description.field_description_below .gfield_description {
    max-width: 258px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

form.multipage_gravity_form li input::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: 18px;
}

form.multipage_gravity_form li input:-ms-input-placeholder {
    color: #C4C4C4;
    font-size: 18px;
}

form.multipage_gravity_form li input::-ms-input-placeholder {
    color: #C4C4C4;
    font-size: 18px;
}

form.multipage_gravity_form li input::placeholder {
    color: #C4C4C4;
    font-size: 18px;
}

.input_number_placeholder input {
    padding-left: 15px !important;
    width: 160px !important;
}

form.multipage_gravity_form .gform_fields>li:first-child {
    position: static;
}

.gravity_html_label {
    width: 100%;
    margin-bottom: 10px;
}

.gravity_html_label_city.gravity_html_label {
    margin-bottom: 0;
}

form.multipage_gravity_form .gform_fields>li:first-child>label {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top: 0;
    font-weight: 700;
    padding-left: 0;
    width: 100%;
    text-align: center;
}

.gform_wrapper .radio_col_6 .gfield_radio {
    margin-bottom: 20px;
}

ul.gform_fields.top_label li.li_display_block {
    display: block;
}

form.multipage_gravity_form .label_not_absolute .gform_fields>li:first-child>label {
    position: static;
    left: unset;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}

.radio_col_6 .gfield_radio>li {
    width: calc(100%/2);
}

.radio_col_6 .gfield_radio>li label {
    width: calc(100% - 44px);
    margin: 0 22px;
}

.radio_col_6 {
    width: 100%;
}

.partial_entry_warning {
    display: none;
}

.gform_wrapper form.multipage_gravity_form .top_label .input_number_label input.small {
    width: 161px;
    min-width: 0;
}

.gform_wrapper .field_description_below .gfield_description {
    padding: 0;
}


.contact-sec .why-sec-each .wpb_wrapper .left:before {
    left: 0px;
    top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.penci-post-item ul {
    padding: 10px 0;
}
.penci-post-item ul li {
    list-style-type: disc;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@media (max-width: 1061px) {
    .main-navigation li {
        padding-right: 13px!important;
    }
}

@media (max-width: 1024px) {
    .contact-sec .why-sec-each .wpb_wrapper .left:before {
        top: 7px;
    }
}

@media (max-width: 500px) {
    body form.multipage_gravity_form div.ginput_container.ginput_container_number {
        margin-bottom: 25px;
    }

    body form.multipage_gravity_form .mobile_no_margin_bot div.ginput_container.ginput_container_number {
        margin-bottom: 0;

    }

    body form.multipage_gravity_form .mobile_no_margin_bot .gfield_label {
        text-align: left;
    }

    body form.multipage_gravity_form .mobile_no_margin_bot .gfield_description {
        padding-top: 0;
    }

    body form.multipage_gravity_form .gravity_inner_input.number_input.field_sublabel_below.field_description_below div.ginput_container.ginput_container_number {
        margin-bottom: 0px;
    }

    div.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
        margin-top: 0;
    }

    body .gform_wrapper ul li.field_description_below div.ginput_container_checkbox {
        margin-top: 0;
    }

    form.multipage_gravity_form .top_label .gravity_input_single label.gfield_label {
        padding-right: 0;

    }

    form.multipage_gravity_form .radio_block_single div.ginput_container_radio li label {
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width: 397px) {
    body .gform_wrapper ul li.gfield.approximate_value label.gfield_label {
        white-space: normal;
        top: -40px;
    }

}






.entry-content .footer ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.body .gform_wrapper ul li.gfield.gravity_single_margin {
    margin-top: 25px;
}

.final_label_box ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li:last-child label {
    margin-bottom: 0;
}



.gform_page_fields {
    padding-top: 0px;

}

.multipage_gravity_form .gform_page .gform_fields>li {
    padding-top: 0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

input[placeholder] {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

.gform_wrapper form.multipage_gravity_form li.information_span p {
    margin-bottom: 0;
}

div.button_margin_top div.gform_page_footer {
    margin-top: 25px;
}

form.multipage_gravity_form .radio_block_single_40 div.ginput_container_radio ul {
    margin-top: 25px;
}


.gravity_inner_input .input_col_4 input {
    width: 100% !important;
    min-width: unset;
}





.about .custom-title p {
    margin-bottom: 0 !important;
}

.multipage-form-timeline .d-flex>div {
    width: 100%;
}

.multipage-form-timeline label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
}




.contact-sec .wpb_wrapper .wpcf7-form .col-2 {
    display: block;
}

@media (max-width: 768px) {
    .contact-sec .wpb_wrapper .dark-title:before {
        width: 110px;
        left: 23%;
        height: 110px;
        top: -108px;
    }
}


@media (max-width: 480px) {
    .contact-sec .wpb_wrapper .dark-title:before {
        width: 78px;
        left: 0;
        height: 78px;
        top: -67px;
    }
}



@media (max-width: 375px) {

    .contact-sec .why-sec-each .wpb_wrapper .left.pencisc-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        padding-left: 70px;
    }

    .contact-sec .why-sec-each .left .alignnone {
        margin: 0px 10px;
    }

}

.vc_color-white.vc_message_box {
    margin-bottom: 0;
}

.jwa_car_calc h3 {
    font-size: 28px;
}

.carcalc_result-text {
    font-size: 40px
}

.carcalc_payment_inputs .radio_label {
    padding: 12px 30px !important;
}

.carcalc_col input[type=number] {
    padding: 12px 36px !important;
}

.jwa_car_calc {
    text-align: center;
}

.carcalc_range_preview {
    line-height: 50px !important;
}

#carcalc_suffix {
    top: 13px !important;
}

@media (max-width: 500px) {
    .d_inb {
        display: block !important;
        width: 100%;
        margin-bottom: 10px;
    }

    .d_inb label {
        width: 100% !important;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .cover-right .cover-right:before {
        background-image: url(../img/apply-now.png);
        background-color: transparent;
        background-size: 100% 100%;
        background-position: center bottom;
    }
}