#ez-toc-container {

}

.ez-toc-widget-container {
	/*padding: 0 10px;*/
	position: relative;
	white-space: nowrap;
}

#ez-toc-container.ez-toc-light-blue {
	background: #EDF6FF;
}

#ez-toc-container.ez-toc-white {
	background: #FFFFFF;
}

#ez-toc-container.ez-toc-black {
	background: #000000;
}

#ez-toc-container.ez-toc-transparent {
	background: none transparent;
}

.ez-toc-widget-container ul.ez-toc-list {
	padding: 0 10px;
}

#ez-toc-container ul ul,
.ez-toc div.ez-toc-widget-container ul ul {
	margin-left: 1.5em;
}

#ez-toc-container ul,
#ez-toc-container li {
	margin: 0;
	padding: 0;
}

#ez-toc-container ul,
#ez-toc-container li,
#ez-toc-container ul li,
.ez-toc-widget-container,
.ez-toc-widget-container li {
	background: none;
	list-style-type: none;
	list-style: none;
	line-height: 1.6;
	margin: 0;
	overflow: hidden;
	z-index: 1;
}

/*#ez-toc-container.have_bullets li {*/
	/*padding-left: 12px;*/
/*}*/

#ez-toc-container p.ez-toc-title {
	text-align: left;
	/*font-family: "Arial Narrow", sans-serif;*/
	/*font-size: 120%;*/
	/*font-weight: 500;*/
	line-height: 1.45;
	margin: 0;
	padding: 0;
}

.ez-toc-title-container {
	display: table;
	width: 100%;
}

.ez-toc-title,
.ez-toc-title-toggle {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

#ez-toc-container.ez-toc-black p.ez-toc-title {
	color: #FFF;
}

/*#ez-toc-container span.ez-toc-toggle {*/
	/*font-weight: 400;*/
	/*font-size: 90%;*/
/*}*/

#ez-toc-container div.ez-toc-title-container + ul.ez-toc-list {
	margin-top: 1em;
}

.ez-toc-wrap-left {
	float: left;
	margin-right: 10px;
}

.ez-toc-wrap-right {
	float: right;
	margin-left: 10px;
}

#ez-toc-container a {
	color: #444444;
	text-decoration: none;
	text-shadow: none;
}

#ez-toc-container a:visited {
	color: #9f9f9f;
}

#ez-toc-container a:hover {
	text-decoration: underline;
}

#ez-toc-container.ez-toc-black a {
	color: #FFF;
}

#ez-toc-container.ez-toc-black a:visited {
	color: #FFF;
}

#ez-toc-container a.ez-toc-toggle {
	color: #444444;
}

#ez-toc-container.counter-hierarchy ul,
.ez-toc-widget-container.counter-hierarchy ul,
#ez-toc-container.counter-flat ul,
.ez-toc-widget-container.counter-flat ul {
	counter-reset: item;
}

#ez-toc-container.counter-numeric li,
.ez-toc-widget-container.counter-numeric li {
	list-style-type: decimal;
	list-style-position: inside;
}

#ez-toc-container.counter-decimal ul.ez-toc-list li a::before,
.ez-toc-widget-container.counter-decimal ul.ez-toc-list li a::before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}

#ez-toc-container.counter-roman li a::before,
.ez-toc-widget-container.counter-roman ul.ez-toc-list li a::before {
	content: counters(item, ".", upper-roman) ". ";
	counter-increment: item;
}

.ez-toc-widget-container ul.ez-toc-list li::before {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
	line-height: 30px;
	z-index: -1;
}

.ez-toc-widget-container ul.ez-toc-list li.active::before {
	background-color: #EDEDED;
}

.ez-toc-widget-container li.active > a {
	font-weight: 900;
}

.ez-toc-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.ez-toc-btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.ez-toc-btn:hover,.ez-toc-btn:focus {
	color: #333;
	text-decoration: none
}

.ez-toc-btn:active,.ez-toc-btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.ez-toc-btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.ez-toc-btn-default:hover,.ez-toc-btn-default:focus,.ez-toc-btn-default:active,.ez-toc-btn-default.active {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad
}

.ez-toc-btn-default:active,.ez-toc-btn-default.active {
	background-image: none
}

/*.btn-lg {*/
	/*padding: 10px 16px;*/
	/*font-size: 18px;*/
	/*line-height: 1.33;*/
	/*border-radius: 6px*/
/*}*/

.ez-toc-btn-sm,.ez-toc-btn-xs {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.ez-toc-btn-xs {
	padding: 1px 5px
}

.ez-toc-btn-default {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075)
}

.ez-toc-btn-default:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.ez-toc-btn:active,.btn.active {
	background-image: none
}

.ez-toc-btn-default {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#e0e0e0));
	background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe0e0e0',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.ez-toc-btn-default:hover,.ez-toc-btn-default:focus {
	background-color: #e0e0e0;
	background-position: 0 -15px
}

.ez-toc-btn-default:active,.ez-toc-btn-default.active {
	background-color: #e0e0e0;
	border-color: #dbdbdb
}

.ez-toc-pull-right {
	float: right !important;
	margin-left: 10px;
}

.ez-toc-glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale
}

.ez-toc-glyphicon:empty {
	width: 1em
}

.ez-toc-toggle i.ez-toc-glyphicon {
	font-size: 16px;
	margin-left: 2px;
}

[class*="ez-toc-icon-"] {
	font-family: 'ez-toc-icomoon' !important; /* For better glyphicon compatibility */
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ez-toc-icon-toggle:before {
	content: "\e87a";
}
