/*
Theme Name: PenNews Child
Theme URI: http://pennews.pencidesign.com/
Author: PenciDesign
Author URI: http://pencidesign.com
Description: Pennews Child Theme
Template: pennews
Version: 1.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: pennews
Tags: two-columns, custom-menu, featured-images, post-formats, sticky-post, threaded-comments, translation-ready, editor-style

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

PenNews is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
.penci-archive .penci-archive__content .penci-cat-links a,
.single .penci_breadcrumbs+.penci-post-item .penci-entry-categories, .page .penci_breadcrumbs+.penci-post-item .penci-entry-categories,
ul li:before {display:none;}
.penci-archive__content .penci-entry-header {margin-bottom:0;}
article h2 {
	font-family: 'Montserrat';
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 1 !important;
	text-transform: uppercase;
}
.penci-archive__content .penci_breadcrumbs+.penci-entry-header {display:none;}
 
.penci-archive .penci-archive__content .entry-content:after {
	content: '...';
	display: inline-block;
}
.page.page-id-1219 .penci-content-post {padding: 20px;margin:20px;}
.blog-default .penci-archive__content .entry-media {margin-top:25px;}

.page-id-1219 {
	background: #fff;
}
.page-id-1219 p {
	font-size:16px;
}
.row-faq-01 {
	padding: 50px 0!important;
}
.row-faq-01 h2 {
	font-size:30px;
    color:#fff;
    text-transform:none;
    font-weight:500;
}
.row-faq-01 h3 {
	font-size:18px;
    line-height:28px;
    text-transform:uppercase;
    color:#fff;
    font-weight:400;
}
.row-faq-01 p {
	font-size:16px;
    line-height: 28px;
    color:#fff;
    margin: 40px 450px 40px 0;
}
.row-faq-01 a {
    min-height: 100%;
    line-height: normal;
    padding: 15px 20px !important;
    margin-top: 30px;
    background: #ff8c59;
    border-radius: 50px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    display: inline-block;
}
.row-faq-01 a:hover{
    background: #ff8c59 !important;
    -webkit-box-shadow: 1px 1px 15px rgba(255,143,93,.6);
    box-shadow: 1px 1px 15px rgba(255,143,93,.6);
    color: #373339;
}
.row-faq-01 a:before {
	content: '';
    width: 20px;
    height: 20px;
    background: url(//www.car-finance.ca/wp-content/themes/pennews-child/assets/css/../img/phone.png) center/contain;
    display: inline-block;
    background-repeat: no-repeat !important;
    margin-right: 10px;
    vertical-align: middle;
 }
 .row-faq-02 h3 {
 	display:inline-block;
	font-size:24px;
    color:#2a2a2a;
    margin: 30px 0 20px;
    padding-bottom:10px;
    border-bottom: 4px dashed #ff8c59;
}
.row-faq-02 p:first-child {
	padding-left:0px;
}
.row-faq-02 p {
	padding-left:20px;
}

.row-faq-02 ul,
.row-faq-02 ol,
.row-faq-02 li {
    color: #373339;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}
.row-faq-02 ul li {
    list-style-type: disk!important;
}
 
.page-id-1470 {
    background: #fff;
}
#post-1470 > div > div.vc_row.wpb_row.vc_row_34350739.vc_row-fluid.penci-pb-row.cover.cover_mobile.contact-sec.vc_custom_1560515531738.vc_row-has-fill.vc_row-o-content-bottom.vc_row-flex.vc_custom_1560515531742.vc_custom_1560515531743 > div.wpb_column.vc_column_container.vc_col-sm-9.penci-col-9.vc_custom_1560514662873.vc_custom_1560514662891.vc_custom_1560514662908 {align-items: center !important;}

#post-1470 > div > div.vc_row.wpb_row.vc_row_57857539.vc_row-fluid.penci-pb-row.cover.cover_mobile.contact-sec.vc_custom_1560515531738.vc_row-has-fill.vc_row-o-content-bottom.vc_row-flex.vc_custom_1560515531742.vc_custom_1560515531743 > div.wpb_column.vc_column_container.vc_col-sm-9.penci-col-9.vc_custom_1560514662873.vc_custom_1560514662891.vc_custom_1560514662908 > div > div > div > div > h2 {
    color: #fff !important;
}
#post-1470 > div > div.vc_row.wpb_row.vc_row_85538693.vc_row-fluid.penci-pb-row.vc_custom_1561659551805.vc_row-has-fill > div > div > div > div.wpb_text_column.wpb_content_element.custom-title > div {
    text-align: left !important;
}

        .bar {
            fill: #5f89ad;
        }
        
        .axis {
            font-size: 13px;
        }
        
        .axis path,
        .axis line {
            fill: none;
            display: none;
        }



.penci-active-thumb {
    height: 450px;
}
.penci-entry-title {
    position: absolute;
    bottom: 50px;
    font-size: 48px;
    line-height: 41px;
    text-transform: uppercase;
    width: 50%;
}
.penci_breadcrumbs {
    position: absolute;
    top: 20px;
}
.penci_breadcrumbs a span {
    color: #FF8C59 !important;
    font-size: 14px;
    font-weight: 500;
}
.penci_breadcrumbs li:last-child span {
    color: #fff !important;
}
.entry-media__content {
    height: 100%;}

.penci-page-style-5 .penci-active-thumb.penci-entry-media:after, .penci-single-style-5 .penci-active-thumb.penci-entry-media:after {
    background: #000;
}
.fa-clock-o {
    display: none;
}
.entry-date {
    font-size: 16px;
    font-weight: 300;
    opacity: .6;
}
.penci-container {
    height: 100%;
}
.penci-entry-header {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.penci_breadcrumbs .fa-angle-right:before {
    content: '/';
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 3px;
    margin: 0 5px;
}
.single-post .site-main {
    background: #fff;
    padding-bottom: 100px;
}
.category-blog .site-main {
    padding-bottom: 40px;
}
.single-post .penci-entry-content p {
    font-size: 20px;
    font-family: 'Lato';
}
.single-post .penci-entry-content ul,
.single-post .penci-entry-content ol {
    border: 1px solid #FF8C59;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 40px;
    list-style: none;
}
.single-post .penci-entry-content ul ul,
.single-post .penci-entry-content ol ol {
    border: none;
    margin-bottom: 0;
}
.penci-entry-content ul strong,
.penci-entry-content ol strong {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}
.single-post .penci-entry-content ul li,
.single-post .penci-entry-content ol li {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    margin: 0;
    margin-left: 50px;
    font-family: 'Lato';
}
.single-post .penci-entry-content ul.ez-toc-list li {
    margin-top: 0px;
    margin-bottom: 0px;
}

.single-post .penci-entry-content ul li,
.single-post .penci-entry-content ol li {
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-post .penci-entry-content ul li:before,
.single-post .penci-entry-content ol li:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF8C59;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: -10px;
    left: -25px;
    top: 13px;
}
.single .penci-content-post {
    padding: 0;
}
.penci-entry-content img {
    border-radius: 10px;
}
.penci-post-pagination {
    padding: 40px 0 25px;
    border:none;
}
.penci-post-pagination a {
    color: #FF8C59;
}
.penci-post-item p.h2 {
    font-family: 'Montserrat' !important;
    margin-top: 20px !important;
    font-size: 20px!important;
    line-height: 28px !important;
    font-weight: 600 !important;
    display: block;
    color: #e5e5e5;
    margin: 0 !important;
    text-transform: uppercase;
}
.penci-post-item p.h3 {
    font-family: 'Montserrat' !important;
    font-size: 18px!important;
    font-weight: 600 !important;
    color: #e5e5e5;
    text-transform: uppercase;
}
.ez-toc-list {
 
    list-style: none;
}
.ez-toc-lis li {
    font-family: 'Lato' !important;
    font-size: 18px!important;
    font-weight: 500!important;
    text-transform: none!important;
    margin-bottom: 5px!important;
    margin-left: 50px !important;
}
.ez-toc-lis li:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF8C59;
    display: inline-block;
    float: left;
    left: -25px;
    top: 10px;
}
#ez-toc-container {
    margin: 20px 0 40px!important;
    padding: 15px 20px !important;
    border: 1px solid #ff8c59;
    border-radius: 10px;
}
div#ez-toc-container ul {
    border: none;
    margin-bottom: 0;
    padding-left: 0;
}
.ez-toc-title {
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: 0;
}
div#ez-toc-container ul li {
    font-size: 20px;
    font-family: 'Lato' !important;
}
div#ez-toc-container ul li a {
    color: #373339;
}
.single-post .site-content h2{
    margin: 40px 0;
    text-align: center;
    color: #F36729;
    font-weight: 600;
    font-size: 20px;
}
.single-post .site-content h2:before, .single-post .site-content h2:after{
    content: '';
    background-color: #FF8F5D;
    display: block;
    width:  75px;
    height: 4px;
    opacity: .6;
    margin: 30px auto;
}
.vc_custom_1550587884223 {
    margin: 50px auto;
}
.vc_custom_1550587884223:before{
    content: '';
    display: block;
    height: 200px;
    width: 50%;
    left: -50%;
    position: absolute;
    background: #312f46;
    margin-top: -30px;
}
.vc_custom_1550587884223:after{
    content: '';
    display: block;
    height: 200px;
    width: 50%;
    right: -50%;
    position: absolute;
    background: #312f46;
    margin-top: -30px;
}
.vc_custom_1550587884223 .penci-col-8 {
    z-index: 9;
}
.footer__bottom,
.footer__copyright_menu {
    display: none;
}
.site-footer {
    background: #373339;
    margin-top: -1px;
}
.site-footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}
#menu-main-menu-1 {
    display: flex;
}
#menu-main-menu-1 > li.menu-item-11 > a {
    padding-top: 5px;
}
#menu-main-menu-1 li {
    margin: 0px 10px;
    width: auto;
}

body.category {
    background: #fff;
}
.title-head {
    text-align: center;
    background: #f3f3ff;
    margin: 0 0 40px;
}
.title-head h1 {
    color: #373339;
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px;
    display: inline-block;
}
.title-head h1:before {
    content: '';
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    background: #FF8C59;
    border-radius: 50%;
    margin: 0 -15px 0 0;
}
.penci_breadcrumbs {
    display: none;
}
.archive .penci-wide-content {
    max-width: 100%;
}
.penci-archive__list_posts .penci-post-item {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 15px;
    min-height: 270px;
}
.penci-archive__list_posts .penci-post-item .entry-date {
    font-size: 12px;
    color: #333 !important;
    font-weight: 400;
    font-family: Lato;
}
.blog-default .penci-archive__content .entry-media {
    margin-top: 0;
    height: 330px;
}
.penci-image-holder,
.penci-archive__content .penci-link-post:after {
    border-radius: 15px 0 0 15px;
}
.category-blog .penci-post-item h2 {
    margin-top: 20px !important;
}

.penci-post-item h2 {
    font-size: 24px!important;
    font-weight: 600 !important;
    line-height: 28px !important;
    display: block;
}
.penci-post-item h3 {
    font-size: 18px!important;
    position: relative;
    top: 7px;
}
.penci-archive .penci-archive__content .entry-content {
    font-size: 18px;
    color: #373339;
    padding-right: 40px;
    padding-bottom: 80px;
}
.penci-pmore-link {
    float: right;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.penci-pmore-link .more-link {
    background: none;
    color: #F36729;
    font-weight: bold;
    font-size: 16px !important;
    font-family: 'Montserrat';
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 20px 0px 0;
    position: relative;
}
.penci-pmore-link .more-link:after {
    content: '';
    display: block;
    width: 13px;
    height: 10px;
    float: right;
    background: url(//www.car-finance.ca/wp-content/themes/pennews/images/arrow-right.png);
    position: relative;
    top: 7px;
    left: 7px;
}
#menu-main-menu .menu-item-1364, #menu-main-menu .menu-item-1365 {display:none;}

.page-id-1359 .site-content, .page-id-3 .site-content {
  background: #fff;
  padding: 50px 0;
}
.page-id-1359 .penci-post-item h3,
.page-id-3 .penci-post-item h3 {
  display: inline-block;
  font-size: 24px !important;
  color: #2a2a2a;
  margin: 30px 0 20px;
  padding-bottom: 10px;
  border-bottom: 4px dashed #ff8c59;
}
.page-id-1359 p, .page-id-3 p {
    font-size: 16px;
}
.page-id-1359 ul li, .page-id-3 ul li {
    font-size: 16px;
}
.page-id-1359 .site-content ul li:before, .page-id-3 .site-content ul li:before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 50%;
  background: #ff8c59;
  margin-top: -3px;
}
.btn_learn_more_block .btn_learn_more{
    background: transparent !important; 
} 
.category-blog .penci-post-item h2{
    padding-right: 40px; 
} 
.single-post .entry-header.penci-entry-header.penci-title-{
    display: block; 
}
.vc_message_box-icon > *{
    
}
@media screen and (min-width: 1240px) {
    .sidebar-left .site-main .penci-container, .sidebar-right .site-main .penci-container, 
    .penci-container, .penci-container-fluid {
        width: 1170px;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar-right .site-main .penci-wide-content {
        width: 100%;
        padding-right: 0;
    }
	.row-faq-01 p {
        margin: 40px 0px 40px 0;
	} 
    .vc_custom_1550587884223:before {
        margin-top: -60px;
    }
    .vc_custom_1550587884223:after {
        margin-top: -162px;
    }
    .vc_custom_1550587884223 {
        height: auto !important;
        padding-top: 60px !important;
    }
    .vc_custom_1550587884223 .penci-col-8{
        z-index: 9;
    }
    .penci-entry-title {
        width: 100%;
    }
    .vc_custom_1550587884223 .penci-col-8 {
        text-align: center;
        display: block;
    }
    .vc_custom_1550587822476 {
        display: block;
        text-align: center;
    }
    .vc_custom_1550587822476 .btn {
        float: none;
    }
    h1.penci-entry-title {
        font-size: 28px !important;
        line-height: 31px !important;
        width: 900px;
    }
    .single .site-main {
        padding: 0;
    }
    .penci-entry-content,
    .penci-single-style-5 .entry-media__content .penci-container {
        padding: 0 30px;
    }
    .penci-active-thumb {
        height: 350px;
    }
    #menu-main-menu-1 {
        justify-content: center;
    }
    .site-footer p {
        text-align: center;
    }
    .title-head {
        margin: 0 0 40px -10px;
        width: calc(100% + 20px);
    }
    .penci-archive__list_posts .penci-post-item {
        padding-bottom: 0px;
    }
    .blog-default .penci-archive__content .entry-media {
        height: 370px;
    }
}
@media screen and (max-width: 768px) {
    h1.penci-entry-title {
        width: 700px;
    }
}
@media screen and (max-width: 480px) {
    .vc_custom_1550587884223 {
        margin-left: -30px !important;
        margin-right: -30px !important;
    }
    .vc_custom_1550587884223 .penci-col-8 {
        display: block !important;
    }
    .vc_custom_1550587884223:before, .vc_custom_1550587884223:after {
        display: none;
    }
    .vc_custom_1550587884223 span {
        display: block;
    }
    .penci-active-thumb {
        height: 250px;
    }
    .single .penci-entry-media {
        padding-top: 0;
    }
    .single .penci-entry-media .penci-jarallax {
        padding-top: 100%;
    }
    h1.penci-entry-title {
        font-size: 18px !important;
        line-height: 21px !important;
        width: 80%;
    }
    .penci_breadcrumbs {
        display: none;
    }
    .penci-entry-content p,
    .penci-entry-content ul li {
        font-size:  16px;
    }
    .penci_breadcrumbs a span {
        font-size: 12px;
    }
    .penci_breadcrumbs .fa-angle-right:before {
        margin: 0;
    }
    #menu-main-menu-1 {
        display: none;
    }
    .site-footer p {
        font-size: 14px;
    }
    .footer__sidebars {
        padding: 0;
    }
    .penci-archive__list_posts .penci-post-item {
        box-shadow: none;
        padding: 0 0 40px;
    }
    .penci-image-holder, .penci-archive__content .penci-link-post:after {
        border-radius: 15px;
    }
    .penci-pmore-link {
        margin-top: 30px;
    }
    .title-head {
        margin: 0 0 10px -10px;
    }
    .penci-post-item h2 {
        margin-top: 0 !important;
    }
    .penci-pmore-link {
        bottom: 10px;
    }
    .blog-default .penci-archive__list_posts .entry-text {
        padding-top: 0px !important;
    }
    .single-post .penci-entry-content ul,
    .ez-toc-list {
        padding: 15px 20px 15px 0!important;
    }
    .penci-archive .penci-archive__content .entry-content {
        padding-bottom: 0;
    }
}