/*  % SUFFIX */
#carcalc_suffix_container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#carcalc_suffix {
  position: absolute;
  left: 0;
  top: 20px;
  padding-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
  color: #433F45;
}
/* endsuffix */

.jwa_car_calc{
	position: relative;
	padding: 35px 85px 90px 65px;
}
.jwa_car_calc::after {
	content:"";
	position: absolute;
	    top: -27px;
    left: 27%;
	width: 80px;
	height: 80px;
background-image: url("../img/triangle.png");
background-repeat: no-repeat;
background-position: top center;

}
.carcalc_form{
	display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.carcalc_col {
	text-align: left;
	padding: 0 55px;
}

.carcalc_result {
  /*margin: 0 -55px;*/
}

.carcalc_result-text{
   font-family: Montserrat;
font-style: normal;
font-weight: 900;
line-height: 78px;
font-size: 58px;
text-align: left;
margin-bottom: 8px;
white-space: nowrap;
color: #373339;
}
.carcalc_note{
	white-space: normal;
   font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: 19px;
font-size: 14px;

color: #373339;
}
.carcalc_payment_inputs .radio_label,
div .carcalc_submit{
display: inline-block;
	padding: 12px 30px;
background: #FF8C59;
box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
border-radius: 5px;
border:none;
margin-top: 35px;
margin-bottom: 21px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: 22px;
font-size: 16px;
text-align: center;

}
.carcalc_submit:hover,
.carcalc_submit:focus,
.carcalc_submit:active{
background: #FF8C59;

}
.carcalc_range_preview{

    display: block;
    text-align: center;
   font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: 27px;
font-size: 20px;
text-align: center;

color: #465F73;
}
.d_inb{
	display: inline-block;
}


.carcalc_col label{
display: block;
	font-family: Montserrat;
font-style: normal;
font-weight: 800;
line-height: 19px;
font-size: 14px;
text-align: left: ;
margin-bottom: 10px;

color: rgba(76, 84, 90, 0.88);
}
.carcalc_payment_inputs .radio_label {
		padding: 16px 30px;
	font-family: Montserrat;
font-style: normal;
	color: #373339;
	font-weight: 600;
	cursor: pointer;
line-height: 19px;
font-size: 14px;
text-align: center;
margin-top: 0;
margin-bottom: 0;
margin-right: 15px;
display: inline-block;
background: rgba(194, 202, 208, 0.4);
border: 0.5px solid #C2CAD0;
color: rgba(76, 84, 90, 0.88);
-webkit-transition: 0.3s ease;
   -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
     -o-transition: 0.3s ease;
        transition: 0.3s ease;


}
.carcalc_col input[type="number"]{
display: block;
width: 100%;
padding:20px 36px;
background: #F3F3FF;
border: 0.75px solid #FF8C59;
font-family: Montserrat;
margin-bottom: 25px !important;
font-style: normal;
font-weight: 500;
line-height: 22px;
font-size: 18px;

color: #433F45;

}
.carcalc_col input[type="radio"]{
	display: none;
}
.carcalc_col input[type="radio"]:checked ~.radio_label {
border: 0.5px solid #FFB353;;
background: #FFB353;
-webkit-transition: 0.3s ease;
   -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
     -o-transition: 0.3s ease;
        transition: 0.3s ease;
}
.carcalc_col_right{
    width: calc(100%/3);
    float: right;
        min-width: 266px;
    padding: 0;
}

.carcalc_payment_inputs {
    white-space: nowrap;
}
.carcalc_result-sub{
	font-weight: bold;
line-height: 22px;
font-size: 16px;
text-align: left;

color: #373339;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.5px 0;
  padding: 0;
  border:none;
  margin-bottom: 36px !important;
  width: 100%;
  max-width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(70, 95, 115, 0.27);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {

  border: 1px solid rgba(0, 0, 0, 0);
  /*box-shadow: 6px 0 0 100% #524BD3;*/
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #ff8c59;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(70, 95, 115, 0.27);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(70, 95, 115, 0.27);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #ff8c59;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #524BD3;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(70, 95, 115, 0.27);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  border-radius: 50px;
  background: #ff8c59;
  cursor: pointer;
  height: 6px;
}
input[type=range]:focus::-ms-fill-lower {
background: #524BD3;
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(70, 95, 115, 0.27);
}
/*//////////////////////////////////////////////////media/////////////////////////*/
@media (max-width: 920px){
.jwa_car_calc::after {
  text-align: center;
    left: 15%;
}

@media (max-width: 768px){
.carcalc_form {
    flex-wrap: wrap;
}
.carcalc_col_right{
width: 100%;
float: none;
}
.carcalc_col{
	max-width: 100%;
}
.carcalc_result{
	margin-top: 40px;

}
.carcalc_result-text,
.carcalc_result-sub{
  text-align: left;
}
.jwa_car_calc{
	padding:32px 10px ;
}
.carcalc_col{
	padding: 10px 30px;
}
.carcalc_result {
  /*margin: 0 -30px;*/
}

}

@media (max-width: 441px){



.carcalc_payment_inputs .radio_label{
	margin-right: 10px;
}

.jwa_car_calc::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 12%;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-position: top center;

}
.carcalc_col_right{
  text-align: center;
padding-left: 5px;
padding-right: 5px;

	}
  .carcalc_result-text,
.carcalc_result-sub{
  text-align: center;
}
  .carcalc_result-text{
    white-space: nowrap;
    font-size: 48px;
  }
	.carcalc_payment_inputs {

    text-align: center;
}
.carcalc_payment_inputs .radio_label {
    padding: 16px 12px;
    }


.jwa_car_calc h3 {
margin-bottom: 25px;
    }
}

@media (max-width: 375px){
  .carcalc_payment_inputs {
  margin-left: -34px;
  margin-right: -30px;
}
}