/* Common */
.site-content {
    margin: 0 !important;
}

.no-sidebar .site-main .penci-wide-content {
    margin-bottom: 0 !important;
}

.page .penci-content-post {
    padding: 0;
}

ul li {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    color: #373339;
}

ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #524BD3;
    border-radius: 15px;
    left: -30px;
    top: 12px;
    position: absolute;
}

.wpb_text_column {
    background-color: transparent;
    overflow: visible;
}

.btn,
a.btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #373339 !important;
    background: linear-gradient(0deg, #FF8C59, #FF8C59);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover,
a.btn:hover {
    text-decoration: none;
}

.gform_confirmation_message_1.gform_confirmation_message .custom-title {
    padding: 160px 0;
}

.gform_confirmation_message_1.gform_confirmation_message .custom-title span {
    display: block;
}

.custom-title {

    overflow: visible;
    text-align: center;
}

.wpb_wrapper .custom-title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 50px !important;
}

.site-main .vc_column_container>.vc_column-inner.gravity_title_column {
    padding-top: 0;
}

.site-main .vc_row.gravity_title_row .custom-title p {
    margin-bottom: 0 !important;
    display: inline;
}


/*.site-main .vc_row.gravity_title_row {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
}*/

.custom-title h1:before,
.custom-title p:before {
    content: '';
    width: 51px;
    height: 51px;
    background: linear-gradient(90deg, #FF8C59 0%, #FF8C59 43.65%, #FFB353 100%);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    display: block;
    position: absolute;
    z-index: -1;
    left: -40px;
    top: -10px;
}

.custom-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #6C686E;
}


.penci-header-mobile.mobile {
    height: auto;
}

.mobile_phone_header_column .title {
    margin-bottom: 0;
}

.mobile_phone_header_column {
    margin-bottom: 0;
}

.mobile-sidebar .primary-menu-mobile li {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.mobile-sidebar .primary-menu-mobile li a {
    color: ##373339;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mobile-sidebar .primary-menu-mobile li::before {
    content: none;
}

.mobile-sidebar #sidebar-nav-logo {
    margin-bottom: 0;
}

.mobile-sidebar .mobile-navigation {
    margin-top: 0;
}

.mobile-sidebar .primary-menu-mobile li a:hover,
.mobile-sidebar .primary-menu-mobile li a:active,
.mobile-sidebar .primary-menu-mobile li a:focus {
    color: #ff8c59;

}

@media (max-width: 500px) {
    .header-social.sidebar-nav-social {
        display: none;
    }

    .wpb_wrapper .custom-title h1,
    .wpb_wrapper .custom-title p {
        font-size: 30px;
        margin-bottom: 0 !important;
    }

    .gform_confirmation_message_1.gform_confirmation_message div.custom-title {
        padding: 28px 0;
    }
}




/* Header */
.menu li:before {
    display: none;
}

.site-branding h1,
.site-branding h2 {
    font-size: 35px;
    line-height: 80px;
}

.site-header.header--s1 {
    padding-bottom: 12px;
}

.site-header.header--s10 .custom-logo,
.site-header.header--s1 .custom-logo,
.site-header.header--s5 .custom-logo {
    max-width: 140px;
    vertical-align: middle;
}

.site-header.header--s1 .custom-logo-link:after,
.logo_header_mobile:after {
    content: none;
    font-size: 16px;
    font-family: Ruda, sans-serif;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    left: 0px;
    bottom: -10px;
    color: #FF8C59;
}

.site-header.header--s1 .main-navigation {
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.main-navigation.penci_enable_line_menu>ul:not(.children)>li>a:before {
    top: auto;
    bottom: 16px;
    border-radius: 10px;
    background: linear-gradient(270deg, #FFB353 0%, #FF8C59 62.25%, #FF8C59 96.39%);
}

.main-navigation>ul:not(.children)>li.current-menu-item>a,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a,
.main-navigation ul.menu>li.current-menu-item>a {
    color: #545454;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-navigation>ul:not(.children)>li.current-menu-item>a::before,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a::before,
.main-navigation ul.menu>li.current-menu-item>a::before {
    content: none;
}

.main-navigation>ul:not(.children)>li.current-menu-item>a:hover,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a:hover,
.main-navigation ul.menu>li.current-menu-item>a:hover,
.main-navigation>ul:not(.children)>li.current-menu-item>a:hover::before,
.main-navigation.penci_disable_padding_menu>ul:not(.children)>li.current-menu-item>a:hover::before,
.main-navigation ul.menu>li.current-menu-item>a:hover::before {
    content: " ";
    color: #ff8c59;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent;
    border: none;
}

.site-header .textwidget {
    flex: auto;
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
}

.site-header .textwidget p {
    margin-bottom: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 20px;
}

.cover.mobile_phone_header .mobile_phone_header_column a,
.site-header .textwidget a {
    min-height: 100%;
    line-height: normal;
    padding: 15px 20px !important;
    margin-top: 13px;
    background: linear-gradient(270deg, #FF8C59 0%, #FF8C59 62.25%, #FFB353 96.39%);
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.cover.mobile_phone_header {

    padding: 0 !important;
    margin: 0 !important;
}

.cover.mobile_phone_header .mobile_phone_header_column {
    /*      text-align: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
        margin: 0 !important;*/
}

.cover.mobile_phone_header .mobile_phone_header_column a {
    width: 100%;
    margin-top: 0;
    border-right: none;
    background: #FF8C59;
    margin-left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    color: #000;
    padding: 0 !important;
}

.cover.mobile_phone_header .mobile_phone_header_column a::before,
.site-header .textwidget a:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(./wp-content/uploads/2018/11/phone.png) center/contain;
    display: inline-block;
    background-repeat: no-repeat !important;
    margin-right: 10px;
    vertical-align: middle;
}

.cover.mobile_phone_header .mobile_phone_header_column a::before {
    background: url("./assets/img/phone.png");
}

.site-header .textwidget a:hover {
    background: linear-gradient(0deg, #FF8047, #FF8047) !important;
    box-shadow: 1px 1px 15px rgba(255, 143, 93, 0.6);
    color: #373339;
}

div.gform_wrapper .gf_progressbar:after {
    background-color: transparent;
}

@media(max-width:500px) {
    .mobile-sticky-wrapper .navbar-toggle .fa {
        color: #FF8C59;
    }

    .mobile-sticky-wrapper .navbar-toggle {
        margin-top: 10px;
    }

    .penci-header-mobile .penci-header-mobile_container {
        height: 75px;
    }

    .penci-header-mobile .site-branding {
        overflow: visible;
    }

    .logo_header_mobile:after {
        position: relative;
        top: 45px;
    }
}


/* Cover */
.custom-title.main_hero_title {
    text-align: left;
}

.custom-title.main_hero_title h1 {
    position: relative;
    display: inline-block;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    overflow: visible;
    text-align: left;
}

.wpb_wrapper .custom-title.main_hero_title h1::before {
    left: -32px;
    top: 4px;
}

.wpb_wrapper.wpb_wrapper .custom-subtitle h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;

    font-size: 40px;
    color: #FFFFFF;
    line-height: 30px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

.cover-right {
    overflow: hidden;
}

.cover-right .wpcf7 {
    position: relative;
    z-index: 111;
}

.cover-right br {
    display: none;
}

.mobile_cover_right {
    margin-top: 0 !important;
}

.cover-right span.wpcf7-not-valid-tip {
    margin-top: -20px;
    font-size: 14px;
}

.cover-right div.wpcf7-validation-errors {
    border: 0;
    color: #f00;
    font-size: 14px;
    text-align: center;
}

.cover-right .title:before {
    content: '';
    background: url(./wp-content/uploads/2018/11/apply-now.png) center/contain no-repeat;
    position: absolute;
    left: -15%;
    right: -15%;
    top: -150%;
    height: 200px;
    z-index: 0;
}

.cover-right .title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: 49px;
    font-size: 36px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-bottom: 50px !important;
}

.cover-right .title p {
    z-index: 2;
    position: relative;
}

div.gform_wrapper div.validation_error {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
}

div.gform_wrapper form.multipage_gravity_form div.validation_error {
    color: #790000;
    padding: 0;
}

div.gform_wrapper div.validation_message {
    color: #fff;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 15px;
}

div.gform_wrapper li.gfield.gfield_error {
    border: none;
    background-color: transparent;
}

.gform_wrapper li.gfield_error select {
    border: 1px solid #790000;
}

li.top_form_input {
    padding-right: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

li.top_form_input .ginput_container {
    margin-top: 0 !important;
}

.top_form_input .ginput_container input::placeholder,
.cover-right .wpcf7 input::placeholder {
    color: #E4E4E4;
}

.cover-right .wpcf7 input,
.top_form_input .ginput_container input,
.top_form_input .ginput_container select {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid rgba(255, 143, 93, 0.6);
    box-sizing: border-box !important;
    border-radius: 5px;
    padding: 15px 20px !important;
    height: 100%;
    max-height: 100%;
    transition: all .2s ease-in-out;
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: normal;
    width: 100% !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin-top: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.top_form li select {
    cursor: pointer;
}

.top_form li select option {
    background-color: #FFF;
    color: #373339;
    padding: 10px 0;
    cursor: pointer !important;
}

.pre_approved_form span.time::after,
.top_form .ginput_container.ginput_container_select,
.pre_approved_form select,
.pre_approved_form span.date-field {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.gform_wrapper .gform_footer.top_label {
    padding: 0;
    margin: 0 auto;

}

.pre_approved_form span.time::after,
.pre_approved_form span.date-field::after,
.top_form .ginput_container.ginput_container_select::after {
    content: "";
    position: absolute;
    background: url(./assets/img/down.png) center/contain no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    right: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top_form_input .ginput_container select:hover,
.top_form_input .ginput_container input:hover,
.cover-right .wpcf7-form input:hover,
.cover-right .wpcf7-form select:hover {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid #FF8F5D;
    box-sizing: border-box;
    border-radius: 5px;
}

.top_form_input .ginput_container input::placeholder,
.cover-right .wpcf7-form input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
}

.top_form .gform_button.button,
.cover-right .wpcf7 input[type="submit"] {
    background: #ff8c59;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Montserrat;
    padding: 15px 0px !important;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px !important;
    text-align: center !important;
    letter-spacing: 0.02em;
    color: #373339;
    margin: auto !important;
    display: block !important;
    width: 100% !important;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.top_form .gform_button.button:hover,
.cover-right .wpcf7 input[type="submit"]:hover {

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.cover-right .wpcf7 .ajax-loader {
    display: none;
}

.cover .custom-subtitle {
    text-align: left;
}

.gform_wrapper .gf_progressbar_percentage span {
    white-space: nowrap;
}

@media (max-width: 500px) {
    .main_hero_title {
        text-align: center;
    }

    .wpb_wrapper .custom-title.main_hero_title h1 {

        font-size: 40px;
        text-align: center !important;
    }

    div.wpb_wrapper .custom-title.main_hero_title h1::before {
        left: -26px;
        top: -2px;
    }

    .wpb_wrapper.wpb_wrapper .custom-subtitle h3 {
        font-size: 30px;
        text-align: center;
    }

    .cover-right {
        margin-top: 30%;
    }

    .cover-right .vc_column-inner {
        margin-bottom: 0;
        border-radius: 0 !important;
        background-color: #312F46 !important;
        border-bottom: 0.25px solid #C2CAD0;
    }

    .cover-right .title:before {
        left: -25%;
        right: -25%;
        top: -155%;
    }
}

@media (max-width: 1024px) {

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li label {
        margin: 0 auto;
        padding: 20px 5px;
        min-width: 192px;

    }
}

@media (max-width: 989px) {
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-top: 15px;
    }
}

@media (max-width: 979px) {
    #field_1_35.information_span.field_description_below {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {

    form.multipage_gravity_form .gform_fields>li.gfield:first-child {
        text-align: center;
    }

    form.multipage_gravity_form .gform_fields>li.gfield:first-child>label {
        position: static;
        transform: none;
        left: initial;
    }

    form.multipage_gravity_form .page_checkbox .gform_fields>li.gfield:first-child {
        text-align: left;
        max-width: 100%;
    }

    div li.gfield.input_col_4 {
        width: 100%;
        padding: 0 10px;
        margin-left: 20px !important;
    }



    .form_final_text {
        padding-left: 0;
    }

    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below+.gfield_html {
        margin-top: 20px;
    }


    .multipage_gravity_form div.gform_page .gform_fields {
        padding: 0 20px;
        margin-bottom: 0;
    }

    .gform_wrapper .multipage_gravity_form ul.gfield_checkbox li label,
    .gform_wrapper ul.gfield_radio li label {
        min-width: 280px;
        margin-bottom: 15px;
    }

    form.multipage_gravity_form div.ginput_container_radio ul.gfield_radio {
        margin-bottom: 0px;
    }

    form.multipage_gravity_form input.gform_button.button,
    form.multipage_gravity_form .gform_page_footer input.button.gform_next_button {
        width: 280px;
        padding: 20px 0;
        font-size: 18px;
    }



    body .gform_wrapper form.multipage_gravity_form ul li.field_description_below div.ginput_container_radio {
        margin-top: 0;
    }

    .multipage-form-timeline label,
    form.multipage_gravity_form .ginput_container_radio label br {
        display: none;
    }

    .gform_wrapper form.multipage_gravity_form li.warning_description div input {
        min-width: 280px;
    }

    .gform_wrapper form.multipage_gravity_form li.warning_description div {
        margin-top: 0;
    }

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li {
        width: 100%;
    }

    li.radio_col_6 .gfield_radio>li {
        width: 100%;
    }

    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below {
        margin-bottom: 21px;
    }

    form.multipage_gravity_form .gravity_inner_input_half .ginput_container input {
        min-width: 280px;
    }

    form.multipage_gravity_form li.radio_block_single div.ginput_container_radio li label {
        margin: 0 auto;
        padding: 20px 5px;
        min-width: 192px;

    }


}

@media (max-width: 692px) {
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-top: 0px;
    }

    body .gform_wrapper ul li.gfield.gravity_input_single_big {
        margin-top: 40px;
    }

}


@media (max-width: 584px) {
    .multipage_gravity_form .gform_page .gform_fields>li.gravity_inner_input.field_description_below {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 408px;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-left: 0;
        padding-right: 0;
    }

    .multipage_gravity_form div.gform_page .gform_fields {
        padding: 0px;
    }
form.multipage_gravity_form div.gform_page_footer .gform_button.button,
    form.multipage_gravity_form div.gform_page_footer .button.gform_next_button {

        margin-bottom: 30px;
    }

    body .gform_wrapper ul.top_label li.gfield {
        margin-top: 0;
        margin-bottom: 0;
    }

    form.multipage_gravity_form div.gform_page div.ginput_container_radio ul.gfield_radio {
        margin: 25px auto 25px auto;
    }

    .multipage-form-timeline label,
    form.multipage_gravity_form div.ginput_container_radio label {
        margin-left: auto;
        margin-right: auto;
    }

    div.gform_wrapper form.multipage_gravity_form li.information_span p {
        line-height: 19px;
        font-size: 14px;
        text-align: left;
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input {
        height: 30px;
        width: 30px !important;
        margin-right: 10px;
    }

    .final_label_box .gfield_checkbox label {
        min-width: unset;

    }

    .form_final_text {
        font-size: 16px;
        padding-right: 10px;
        margin-bottom: 0;   
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input::before {
        height: 30px;
        width: 30px;
    }

    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input:checked::after {
        top: 3px;
        left: 11px;

        width: 9px;
        height: 21px;
    }

    div.gform_wrapper form.multipage_gravity_form .top_label .input_number_label input.small {
        width: 100%;

    }
}

@media (max-width: 442px) {
    div.wpb_text_column.custom-title {
        text-align: center;
        padding: 0 8px;
    }

    div.custom-title h1,
    div.custom-title p {
        line-height: 33px;

        font-size: 24px;

    }

    div.custom-title h1:before,
    div.custom-title p:before {
        content: '';
        width: 40px;
        height: 40px;
        left: -27px;
        top: -3px;
    }

    div.custom-title h1:before {
        left: -5px;
        top: 1px;
    }
}

@media (max-width: 375px) {
    .multipage_gravity_form div.ginput_container.ginput_container_checkbox .gfield_checkbox li input {
        margin-right: 34px;
    }
}

/* CTA */
.cta h2 {
    font-weight: 600;
    line-height: 41px;
    font-size: 30px;
    text-align: center;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.cta .cmb {
    margin-left: 50px;
    color: #FF8C59;
    border-bottom: 4px dashed #FF8C59;
    padding-bottom: 10px;
    text-decoration: none !important;
    cursor: pointer;
    vertical-align: super;
}

.cta .cmb:after {
    content: '';
    background: url(./wp-content/uploads/2018/11/up.png) center/contain no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cta .cmb.cmb_open:after {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.cta .wpcf7 {
    display: none;
}

.cta .wpb_text_column {
    margin-bottom: 50px;
}

.cta .wpcf7-form>p {
    display: flex;
    justify-content: space-between;
}

.cta .wpcf7-form>p span {
    margin-right: 5px;
    margin-left: 5px;
}

.cta .wpcf7-form select option {
    background-color: #FFF;
    color: #373339;
    padding: 10px 0;
    cursor: pointer !important;
}

.cta .wpcf7-form input,
.cta .wpcf7-form select {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid rgba(255, 143, 93, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 100%;
    height: 100%;
    padding: 10px 25px;
    transition: all .2s ease-in-out;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.cta .wpcf7-form input,
.cta .wpcf7-form select {

    border: 1px solid rgba(255, 143, 93, 0.6) !important;
    cursor: pointer;
}

.cta .wpcf7-form input[type="date"],
.cta .wpcf7-form select {
    min-width: 250px;
}

.cta .wpcf7-form input::placeholder,
.cta .wpcf7-form select,
.cta .wpcf7-form input[type="date"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #E4E4E4;
}

.cta .wpcf7-form input:hover,
.cta .wpcf7-form select:hover {
    background: rgba(70, 95, 115, 0.6);
    border: 1px solid #FF8F5D;
    box-sizing: border-box;
    border-radius: 5px;
}

.cta .wpcf7-form input[type="submit"] {
    background: linear-gradient(0deg, #FF8C59, #FF8C59);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #333333;
    min-width: 150px;
    padding: 16px;
    margin-left: 5px;
    transition: all .2s ease-in-out;
}

.cta .wpcf7-form input[type="submit"]:hover {
    background: linear-gradient(0deg, #FF8047, #FF8047);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.cta .wpcf7-form input[type="date"] {
    height: auto;
    padding: 20px 25px 19px;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .cta.wpb_row {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .cta .cmb {
        display: inline-block !important;
        margin-left: 0;
        display: block;
        margin-top: 30px;
    }

    .cta .wpcf7-form>p {
        flex-direction: column;
    }

    .cta .wpcf7-form input,
    .cta .wpcf7-form select {
        padding: 20px 25px;
        margin-bottom: 15px !important;
        width: 100%;
    }

    .cta .wpcf7-form input[type="submit"] {
        margin: 0;
    }
}



/* How */
.how-sec .wpb_column>.wpb_wrapper {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    padding: 40px;
    height: 100%;
}

.how-sec--title p {
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    font-weight: 600;
}

.how-sec--content {
    font-size: 20px;
    text-align: center;
    color: #6C686E;
}

.how-sec-1 .how-sec--title,
.how-sec-2 .how-sec--title,
.how-sec-3 .how-sec--title {
    position: relative;
    padding-top: 30px;
}

.how-sec-1 .how-sec-1:before,
.how-sec-2 .how-sec-2:before,
.how-sec-3 .how-sec-3:before,
.form-step-title:before {
    content: '1';
    background-color: rgba(82, 75, 211, 0.8);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    display: block;
    margin: auto;
    border-radius: 70px;
    border: 5px solid rgba(194, 202, 208, 1);
    color: white;
    padding: 15px 23px;
    font-family: Montserrat;
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.how-sec-2 .how-sec-2:before {
    content: '2';
}

.how-sec-3 .how-sec-3:before {
    content: '3';
}



/* Why */
.why .custom-subtitle {
    max-width: 680px;
    margin: -30px auto 0;
}

.why-sec-each {
    background-color: rgba(243, 243, 255, 0.8);
    ;
    border-radius: 3px;
}

.wpb_wrapper .why-sec-each .left {
    background-color: white;
    padding: 40px 14px;
    margin-bottom: 0;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    position: relative;
}


.wpb_wrapper .why-sec-each .penci-row {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.why-sec-each .penci-row:after {
    display: none;
}

.why-sec-each .left:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(./wp-content/uploads/2018/11/play.png) center/contain no-repeat;
    left: -30px;
    top: 30px;
}

.wpb_wrapper .why-sec-each .right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 16px;
    color: #373339;
    padding: 15px 35px 15px 30px;
}

@media (max-width: 500px) {
    .why {
        padding: 0 30px !important;
    }

    .why .custom-title p {
        margin-bottom: 25px !important;
        line-height: 40px;
    }

    .why-sec-each .penci-row {
        flex-direction: column;
    }

    .why-sec-each .right {
        padding: 30px 30px;
    }

    .why-sec-each .left {
        min-width: 240px;
        width: 100%;
    }

    .wpb_wrapper .how-sec .wpb_column>.wpb_wrapper {
        padding: 15px 20px;
    }

    .how-sec-3 {
        margin-bottom: 0;
    }

    .why.about .wpb_wrapper ul {
        padding-left: 10px;
    }

    .why.about .wpb_wrapper h4 {
        text-align: center;
    }
}


/* Banner 2 */
.banner-2 .custom-title p {
    width: 100%;
    font-weight: bold;
    line-height: 52px;
    font-size: 64px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px !important;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

.banner-2 .custom-title p span {
    font-size: 40px;

}

.banner-2 .custom-title p:before {
    display: none;
}

.banner-2 .phone a {
    position: relative;
    background: linear-gradient(270deg, #FF8C59 0%, #FF8C59 62.25%, #FFB353 96.39%);
    box-shadow: 1px 1px 15px rgba(255, 143, 93, 0.6);
    border-radius: 5px;
    padding: 20px 25px 20px 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #373339;
    text-decoration: none;
}

.banner-2 .phone a:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(./wp-content/uploads/2018/11/phone.png) center/contain no-repeat;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-2 .phone a:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
    background-color: #F36729;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.banner-2 .custom-title.custom-title-mobile p.selling_a_car {
    font-size: 29px;
    line-height: normal;
    margin-bottom: 0 !important;
}

.banner-2 .custom-title.custom-title-mobile p.selling_a_car span {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 0 !important;
}


@media (max-width: 500px) {
    .banner-2 .phone a {
        display: block;
    }

    .banner-2 .phone a:after {
        /*top: 10px;*/
    }

    .banner-2 .phone a:before {
        /*top: 22px;*/
    }
}

.mobile_selling_car_phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;

}


/* Car Finance Calculator */
.jwa_car_calc {
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
}

.jwa_car_calc h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #373339;
}



/* Review */
.tes-content {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
}

.tes-content .quote {
    margin-bottom: 30px !important;
    position: relative;
}

.tes-content .quote:before,
.tes-content .quote:after {
    content: '“';
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: 94px;
    font-size: 60px;
    text-align: center;
    color: #FF8C59;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: -15px;
}

.tes-content .quote:after {
    transform: rotate(-180deg);
    top: auto;
    left: auto;
    right: 0;
    bottom: -25px;
}

.reviews .right br {
    display: none;
}

.reviews .right p {
    margin: 0;
    white-space: nowrap;
}

.reviews .penci-row .right {
    padding: 15px;
    width: 100%;
}

.reviews .penci-row .right img {
    margin-bottom: 0;
}

.reviews .penci-row .right .rating {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
    color: rgba(70, 95, 115, 0.6);
}

.reviews .penci-row {
    background: rgba(243, 243, 255, 0.8);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.reviews .penci-row .left {
    background-color: white;
    margin-bottom: 0;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    transform: scale(1.2);
    margin-right: 15px;
    padding: 20px 30px;
}

@media (max-width: 500px) {
    .reviews_stars .penci-col-4 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .row:after,
    .penci-row:after {
        display: none;
    }

    .reviews .penci-row {
        margin-bottom: -50px !important;
    }

    .carcalc_payment_inputs {
        text-align: center;
    }

    .carcalc_payment_inputs .radio_label.monthly_label {
        margin-right: 0;
    }

}

@media (max-width: 375px) {
    .reviews .reviews_stars {
        padding-left: 10px;
        padding-right: 10px;
    }

    .reviews_stars .penci-col-4 {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-bottom: 10px;
    }

    .n2-ss-section-main-content {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }



}

@media (max-width: 500px) {

    div.tes-content .quote:before,
    div.tes-content .quote:after {

        content: none;
    }


}


/* CTA 2 */
.cta-2 h2 {
    color: #E5E5E5;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: -15px;
    font-weight: 500;
}

.cta-2 h2 span {
    font-weight: 700;
}

.cta-2 h3 {
    color: #E5E5E5;
    font-size: 32px;
    font-weight: 500;
}

.cta-2 .btn {
    float: right;
}



/* Listing */
.listing-sec img {
    transform: scale(1.11);
}

.listing-sec .wpb_single_image {
    text-align: center;
}

.listing-sec>.wpb_column>.wpb_column>.wpb_wrapper {
    background-color: white;
    border-radius: 16px;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
}

.listing-sec .wpb_text_column {
    padding: 20px 30px;
}

.listing-sec .wpb_text_column h3 {
    line-height: 44px;
    font-size: 32px;
    text-transform: uppercase;
    color: #373339;
}

.listing-sec .wpb_text_column p:last-child {
    text-align: right;
}

.listing-sec .text-btn,
.recent-news .text-btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #F36729;
    text-decoration: none;
}

.listing-sec .text-btn:after,
.recent-news .text-btn:after {
    content: '';
    width: 18px;
    height: 15px;
    background: url(./wp-content/uploads/2018/11/right.png) center/contain no-repeat;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

@media (max-width: 500px) {
    .cta-2 .penci-col-4 .wpb_wrapper {
        text-align: center;
    }

    .cta-2 .wpb_wrapper .btn {
        display: inline-block;
        float: none;
    }

    .cta-2 .wpb_wrapper h2,
    .cta-2 .wpb_wrapper h2 {
        font-size: 30px;
    }

    .listing-sec>.wpb_column>.wpb_column>.wpb_wrapper {
        overflow: hidden;
        border-radius: 16px;
    }
}





/* Recent News */
.recent-news img {
    width: 100%;
    transform: scale(1.1);
}

.recent-news .penci-row:after {
    display: none;
}

.recent-news .penci-row {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(194, 202, 208, 0.4);
    border-radius: 16px;
    overflow: hidden;
}

.recent-news .left {
    margin-bottom: 0;
    padding: 0;
    margin-right: 40px;
}

.recent-news .right {
    padding-right: 30px;
}

.recent-news .right h4 {
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.recent-news .date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    color: #373339;
}

.recent-news .right p:last-child {
    text-align: right;
}

@media (max-width: 500px) {
    .recent-news .penci-row {
        flex-direction: column;
    }

    .recent-news .left {
        margin: 0;
        margin-bottom: 40px;
    }

    .recent-news .right p:last-child {
        margin-bottom: 30px !important;
    }
}




/* Contact Section */
.contact-sec {
    overflow: visible !important;
}

.contact-sec h3 {
    color: #FF8C59;
    text-transform: uppercase;
}

.contact-sec .dark-title:before {
    content: '';
    background: url(./wp-content/uploads/2018/11/down.png) center/contain no-repeat;
    width: 150px;
    height: 150px;
    display: inline-block;
    position: absolute;
    top: -250%;
    left: 25%;
}

.contact-sec .dark-title {
    margin-bottom: 50px;
}

.contact-sec .dark-title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FF8C59;
}

.contact-sec .wpcf7-form input::placeholder,
.contact-sec .wpcf7-form textarea::placeholder {
    color: #E4E4E4;
}

.contact-sec .wpcf7-form input,
.contact-sec .wpcf7-form textarea {
    background: rgba(70, 95, 115, 0.6);
    border: 0.75px solid rgba(255, 143, 93, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    height: auto;
    max-height: 100%;
    padding: 20px 25px;
    margin-bottom: 10px;
}

.contact-sec .wpcf7-form .col-2 {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.contact-sec .wpcf7-form .col-2>span {
    width: 49%;
}

.contact-sec .wpcf7-form input[type="submit"] {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #373339;
    background: linear-gradient(90deg, #FF8C59 0%, #FF8C59 64.58%, #FFB353 100%);
    /* 1 */
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 20px 50px;
    margin-top: 30px;
}

.contact-sec .why-sec-each {
    background-color: transparent;
}

.contact-sec .why-sec-each .penci-row {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.contact-sec .why-sec-each .left {
    padding-top: 0;
    background-color: transparent;
    color: #FF8C59;
    box-shadow: none;
}

.contact-sec .why-sec-each .right {
    padding-top: 0;
    color: #FF8C59;
    line-height: 34px;
    font-size: 22px;
}


/* Copyright */
.copyright .penci-block-vc {
    background: transparent;
    padding: 0;
}

.copyright .penci-block-vc li {
    display: inline-block;
    width: auto;
}

.copyright .penci-block-vc li:last-child {
    display: none;
}

.copyright .penci-block-vc .menu {
    text-align: center;
    margin-bottom: 0;
}

.copyright .penci-block-vc li a {
    color: white;
    text-decoration: none;
}

.copyright .vc_column-inner {
    padding-top: 0 !important;
}



/* Multipage Form */
.form-step-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-step-title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    font-variant: small-caps;
    color: #373339;
}

.form-step-title:before {
    position: static;
    display: inline-block;
    margin: 0;
    margin-right: 25px;
}

.multipage-form-timeline {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.multipage-form-timeline .col-2 {
    float: left;
    width: 10%;
}

.multipage-form-timeline .col-10 {
    float: left;
    width: 90%;
}

.multipage-form-timeline .form-steps span,
.multipage-form-timeline .form-steps.active span:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #524BD3;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.multipage-form-timeline .form-steps.active span {
    background-color: #FF8C59;
    z-index: 2;
    position: relative;
}

.multipage-form-timeline .form-steps.active span:before {
    content: '';
    height: 25px;
    width: 25px;
    border: 2px solid orange;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -5px;
    background: white;
    z-index: -1;
}

.multipage-form-timeline .form-steps.active span:after {
    top: -5px;
    background-color: #FF8C59;
}

.multipage-form-timeline .form-steps {
    height: 100%;
    position: relative;
}

.multipage-form-timeline .form-steps:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    border: .5px dashed #B1B1B1;
    display: inline-block;
}

.multipage-form-timeline h4 {
    margin-bottom: 30px;
}

.multipage-form-timeline .d-flex {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.multipage-form-timeline .col-2:nth-last-child(2) .form-steps:after {
    display: none;
}

.multipage-form-timeline h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    font-size: 20px;
    color: #373339;
}

div li.gfield.input_col_4 {
    width: calc(100%/3 - 25px);
    margin-left: 20px !important;
}

.input_col_4 input {
    width: 100% !important;
    min-width: 0 !important;
}

.gravity_inner_input .instruction {
    display: none;
}

form.multipage_gravity_form div.ginput_container_radio ul {
    width: auto;
    margin: 60px auto 30px;
    text-align: center;
}

form.multipage_gravity_form .radio_block_single_80 div.ginput_container_radio ul {
    margin-top: 80px;
}

form.multipage_gravity_form .radio_block_single_40 div.ginput_container_radio ul {
    margin-top: 40px;
}

form.multipage_gravity_form div.ginput_container_radio li {
    overflow: visible;
    display: inline-block;
    margin-bottom: 0;
}

form.multipage_gravity_form .top_label label.gfield_label {
    padding-left: 0;
    text-align: center;
}

form.multipage_gravity_form .top_label .gravity_input_single .gfield_label {
    padding-left: 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding-right: 60px;
}

.multipage-form-timeline input[type="radio"],
form.multipage_gravity_form div.ginput_container_radio input[type="radio"] {
    display: none;
}

.multipage-form-timeline label,
form.multipage_gravity_form .ginput_container_radio label {
    background: #E7EAEC;
    box-shadow: 1px 1px 8px rgba(194, 202, 208, 0.4);
    border-radius: 6px;
    padding: 20px 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #373339;
    transition: all .2s linear;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 17px;
    min-width: 200px;
    margin-right: 17px;
    white-space: nowrap;
    max-width: none;
}

body form.multipage_gravity_form .ginput_container.ginput_container_number {
    margin-top: 0;
}

.multipage-form-timeline input:checked~label,
form.multipage_gravity_form .ginput_container_radio input:checked~label {
    background: #FFB353;
}

.multipage_gravity_form .gform_page .gform_fields {
    text-align: center;
    padding: 0 70px;
    position: relative;
}

.multipage_gravity_form .gform_page .gform_fields>li {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

div.gform_wrapper .gravity_inner_input .gfield_description {
    position: absolute;
    padding-top: 0;
}

form.multipage_gravity_form .gform_page_footer .button.gform_previous_button {
    width: auto;
    background: none;
    color: gray;
    text-transform: none;
    text-align: center;
    display: inline-block;
    border-bottom: 3px solid lightgray;
    padding: 0;
    line-height: 23px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
}

.gform_wrapper form.multipage_gravity_form .gform_page_footer {
    border-top: none;
    position: relative;
}

.gform_wrapper form.multipage_gravity_form li.information_span p::before {
    content: "";

    background: url(./assets/img/info-circle.svg) center/contain no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(3px);

}

.gform_wrapper form.multipage_gravity_form li.information_span.gravity_input_single_information_span {

    margin-top: 30px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input {

    position: relative;
    width: 42px !important;
    height: 42px;
    margin-right: 30px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li input:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 11px;
    display: block;
    width: 18px;
    height: 29px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.multipage_gravity_form .ginput_container.ginput_container_checkbox .gfield_checkbox li label {
    font-weight: 700;
}

.final_label_box .gfield_checkbox li {
    display: flex;
}

.gravity_inner_input_full {
    width: 90%;
}

form.multipage_gravity_form .gravity_inner_input_half input {
    min-width: 415px;
}

div.gform_wrapper .gform_page_footer {
    margin: 0;
    padding: 0;
}

.gform_wrapper form.multipage_gravity_form div.information_span_margin_top li.information_span {
    margin-top: 0px;
}

div.button_margin_top div.gform_page_footer {
    margin-top: 40px;
}

body .gform_wrapper ul li.gfield.gravity_single_margin {
    margin-top: 40px;
}

form.multipage_gravity_form .gform_button.button,
form.multipage_gravity_form .gform_page_footer .button.gform_next_button {
    display: block;
    padding: 20px 100px;
    margin-top: 0px;
    margin-bottom: 130px;
    margin-left: auto !important;
    margin-right: auto !important;
    background: linear-gradient(0deg, #FF8C59, #FF8C59);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    transition: all .2s linear;
}

div.gform_page_fields li.gravity_display_block {
    display: block !important;
    padding-top: 25px !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

div.gform_page_fields .gravity_inner_input_margin {
    margin-bottom: 60px !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.gform_wrapper form.multipage_gravity_form li.information_span {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
    text-align: center;

}

.gravity_input_single_big {}

form.multipage_gravity_form .gravity_input_single.gravity_input_single_big input {
    width: 560px;
    max-width: 100%;
}

.gform_wrapper form.multipage_gravity_form li.information_span p {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    color: #373339;
    max-width: 550px;
    display: inline-block;
    position: relative;

}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio ul {
    margin-bottom: 0;
}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio li {
    margin: 12px 0;
    width: calc(100%/3);
}

form.multipage_gravity_form .radio_block_single div.ginput_container_radio li label {
    width: calc(100% - 44px);
    margin: 0 22px;
}

body .gform_wrapper ul li.field_description_below div.ginput_container_radio {
    margin-bottom: 0;
}

form.multipage_gravity_form .top_label .gravity_inner_input label.gfield_label {
    position: absolute;
    top: -22px;
    padding-left: 0;
    font-size: 16px;
    line-height: 22px;
}

form.multipage_gravity_form .top_label .gravity_inner_input.input_number_label label.gfield_label {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.input_number_label .instruction {
    display: none;
}

.warning_description {
    margin-top: 0 !important;
}

form.multipage_gravity_form .warning_description input,
form.multipage_gravity_form .gravity_input_single input,
.gravity_inner_input input {
    height: 60px;
    min-width: 280px;
    margin-top: 0px;
    border-radius: 5px;
    background: #F3F3FF;
    border: 0.75px solid #FF8C59;
}

form.multipage_gravity_form .top_label .gravity_input_single input {
    width: 100%;
}

ul.gform_fields li.radio_list_no_margin ul.gfield_radio {
    margin-bottom: 0;
}

.gform_wrapper form.multipage_gravity_form li.warning_description input {
    min-width: 540px;
    line-height: 22px;
    font-size: 18px;
    padding-left: 23px !important;
    padding-right: 23px !important;
}

.gform_wrapper .warning_description.field_description_below .gfield_description {
    max-width: 258px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

form.multipage_gravity_form li input::placeholder {
    color: #C4C4C4;
    line-height: 22px;
    font-size: 18px;
}

.input_number_placeholder input {
    padding-left: 30px !important;
}

form.multipage_gravity_form .gform_fields>li:first-child {
    position: static;
}

.gravity_html_label {
    width: 100%;
    margin-bottom: 10px;
}

.gravity_html_label_city.gravity_html_label {
    margin-bottom: 0;
}

form.multipage_gravity_form .gform_fields>li:first-child>label {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    font-weight: 700;
    padding-left: 0;
    width: 100%;
    text-align: center;
}

.gform_wrapper .radio_col_6 .gfield_radio {
    margin-bottom: 20px;
}

ul.gform_fields.top_label li.li_display_block {
    display: block;
}

form.multipage_gravity_form .label_not_absolute .gform_fields>li:first-child>label {
    position: static;
    left: unset;
    top: unset;
    transform: unset;
}

.radio_col_6 .gfield_radio>li {
    width: calc(100%/2);
}

.radio_col_6 .gfield_radio>li label {
    width: calc(100% - 44px);
    margin: 0 22px;
}

.radio_col_6 {
    width: 100%;
}

.partial_entry_warning {
    display: none;
}

.gform_wrapper form.multipage_gravity_form .top_label .input_number_label input.small {
    width: 161px;
    min-width: 0;
}

.gform_wrapper .field_description_below .gfield_description {
    padding: 0;
}

@media (max-width: 1024px) {
    .contact-sec .why-sec-each .wpb_wrapper .left:before {
        left: 0px;
        top: 7px;
    }
}

@media (max-width: 500px) {
    body form.multipage_gravity_form div.ginput_container.ginput_container_number{
        margin-bottom: 25px;    
    }
      body form.multipage_gravity_form .gravity_inner_input.number_input.field_sublabel_below.field_description_below div.ginput_container.ginput_container_number{
        margin-bottom: 0px;    
    }

    div.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label{
        margin-top: 0;  
    }
    body .gform_wrapper ul li.field_description_below div.ginput_container_checkbox {
        margin-top: 0;
    }

    form.multipage_gravity_form .top_label .gravity_input_single label.gfield_label {
        padding-right: 0;

    }

    .body .gform_wrapper ul li.gfield.gravity_single_margin {
        margin-top: 25px;
    }

.final_label_box ul.gfield_checkbox li,
    .gform_wrapper ul.gfield_radio li:last-child label {
        margin-bottom: 0;
    }



    .gform_page_fields {
        padding-top: 0px;

    }

    .multipage_gravity_form .gform_page .gform_fields>li {
        padding-top: 0 !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    input[placeholder] {
        text-overflow: ellipsis;
    }

    input::-moz-placeholder {
        text-overflow: ellipsis;
    }

    input:-moz-placeholder {
        text-overflow: ellipsis;
    }

    input:-ms-input-placeholder {
        text-overflow: ellipsis;
    }

    .gform_wrapper form.multipage_gravity_form li.information_span p {
        margin-bottom: 0;
    }

    div.button_margin_top div.gform_page_footer {
        margin-top: 25px;
    }

    form.multipage_gravity_form .radio_block_single_40 div.ginput_container_radio ul {
        margin-top: 25px;
    }


    .gravity_inner_input .input_col_4 input {
        width: 100% !important;
        min-width: unset;
    }





    .about .custom-title p {
        margin-bottom: 0 !important;
    }

    .multipage-form-timeline .d-flex>div {
        width: 100%;
    }

    .multipage-form-timeline label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }


    .contact-sec .wpb_wrapper .dark-title:before {
        width: 78px;
        left: 0;
        height: 78px;
        top: -67px;
    }

    .contact-sec .wpb_wrapper .wpcf7-form .col-2 {
        display: block;
    }


}

@media (max-width: 375px) {

    .contact-sec .why-sec-each .wpb_wrapper .left.pencisc-col {
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;

        padding-left: 70px;
    }

    .contact-sec .why-sec-each .left .alignnone {
        margin: 0px 10px;
    }

}